<template>
	<div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordAdminModulesDetail }}</h1>
                </div>                
            </div>
        </header>
		<section class="page-content container-fluid">
			<div class="row">			
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">{{ word.wordAdminModulesDetail }}</h5>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-borderless">									
									<tbody>
										<tr>
											<th>{{ word.wordTableFieldAdminID }}</th>
											<td>{{ adminInfo.uid }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldName }}</th>
											<td>{{ adminInfo.name }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldEmail }}</th>
											<td>{{ adminInfo.email }}</td>
										</tr>
										<tr>
											<th>{{ word.wordTableFieldMobile }}</th>
											<td>{{ adminInfo.mobile }}</td>
										</tr>
										<!-- <tr>
											<th>{{ word.wordTableFieldPrivileges }}</th>
											<td>
												<div v-if="adminPrivilegesList">
													<div v-if="adminInfo.hasOwnProperty('dev') || adminInfo.hasOwnProperty('master')">
														<div v-if="(adminInfo.hasOwnProperty('dev') && adminInfo.dev) || (adminInfo.hasOwnProperty('master') && adminInfo.master)" v-for="(privDetail) in adminPrivilegesList">
															<div>{{ getPrivilegeName(privDetail.label) }}</div>
															<ul>
																<div v-bind:key="value.name" v-for="(value, index) in privDetail.sub">
																	<li>{{ getPrivilegeName(privDetail.label, value.label) }}</li>
																</div>
															</ul>													
														</div>
														
														<div v-if="(adminInfo.privileges != '')" v-for="(privDetail) in adminPrivilegesList" v-bind:key="privDetail.name">	
															<div v-for="(value, index) in privDetail.sub" v-if="adminInfo.privileges != null">
																<div v-if="adminInfo.privileges.includes(value.id.toString()) && index == 0">{{ getPrivilegeName(privDetail.label) }}</div>
															</div>
															<ul>
																<div v-if="adminInfo.privileges != null" v-bind:key="value.name" v-for="(value, name) in privDetail.sub">
																	<li v-if="adminInfo.privileges.includes(value.id.toString())">{{ getPrivilegeName(privDetail.label, value.label) }}</li>
																</div>
															</ul>
														</div>
														<div v-else>
														</div>
													</div>												
													<div v-else>
													</div>
												</div>
												<div v-else>
												</div>										
											</td>
										</tr> -->
										<tr>
											<th>{{ word.wordTableFieldRole }}</th>
											<td>{{ getRoleName(adminInfo.role_id) }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldStatus }}</th>
											<td>{{ changeStatus(adminInfo.status).status }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldCdate }}</th>
											<td>{{ adminInfo.created_at }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldUdate }}</th>
											<td>{{ adminInfo.updated_at }}</td>
										</tr>											
									
									</tbody>
								</table>								
							</div>					
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
import Config from '@/js/config/app.js';
import AdminModule from '@/js/stores/modules/admin/admin-modules.js';

export default {
	data(){
		return {
		}
	},
	computed: {
		word(){
			return {
				wordAdminModulesDetail: this.$root.language['admin/admin-modules-detail/pagetitle'],

				wordTableFieldAdminID: this.$root.language['admin/admin-modules-detail/field/aid'],
				wordTableFieldName: this.$root.language['admin/admin-modules-detail/field/name'],
				wordTableFieldEmail: this.$root.language['admin/admin-modules-detail/field/email'],
				wordTableFieldMobile: this.$root.language['admin/admin-modules-detail/field/mobile'],
				wordTableFieldRole: this.$root.language['admin/admin-modules-detail/field/role'],
				wordTableFieldPrivileges: this.$root.language['admin/admin-modules-detail/field/privileges'],
				wordTableFieldStatus: this.$root.language['admin/admin-modules-detail/field/status'],
				wordTableFieldUdate: this.$root.language['admin/admin-modules-detail/field/udate'],
				wordTableFieldCdate: this.$root.language['admin/admin-modules-detail/field/cdate'],
			}
		},
		adminInfo(){
			let result = (this.$store.state.AdminModules.isShowingAdminInfo == '')? '' :  this.$store.state.AdminModules.isShowingAdminInfo[0];
			return result;
		},
		adminStatusList(){
			return this.$store.state.AdminModules.adminStatusList;
		},
		adminPrivilegesList(){
			return this.$store.state.AdminModules.adminPrivilegesList;
		},
		getRoleList(){
			return this.$store.state.AdminModules.roleList;
		},
	},
	methods: {
		retrieveAdminInfo(){
			let data = {
				admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 3000,
                aid: this.$route.params.aid,
			};
			this.$store.dispatch('AdminModules/retreiveAdminInfo', data, { root: true });
		},
		retrievePersonStatus(){
			let sdata = {
				admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 1000,
			};
			this.$store.dispatch('AdminModules/getStatusList', sdata, { root: true });
		},
		changeStatus(status){
			let path = '';

			if(this.adminStatusList != undefined){
				this.adminStatusList.forEach(function(element){				
					if(element['id'] == status){
						path = 'person/status/' + element['name'];
						stop;
					}
				});
			}
			
			return {status: this.$root.language[path]};
		},
		retrivePrivilegesList(){
			let data = {
				admin_uid: this.$store.getters.adminInfo.uid,
				wsid: Config.getWSID() + 2000,
			};
			this.$store.dispatch('AdminModules/getAdminPrivilegesList', data, { root: true });
		},
		getPrivilegeName(privilegesName, action = ''){
            let text = (action == '')? this.$root.language[privilegesName] : this.$root.language[action] + ' ' + this.$root.language[privilegesName];
			return text;
		},
		retrieveRoleList(){
			let data = {
				wsid: Config.getWSID() + 3500,
			};			
			this.$store.dispatch('AdminModules/retriveRoleList', data, { root: true });
		},
		getRoleName(id){
			let text = '';
			if(this.getRoleList != undefined){
				this.getRoleList.forEach(function (value, index){
					if(id == value.id){
						text = value.name;
					}
				});
			}
			return text;
		},
		clearAllSignal(){
			this.$store.state.AdminModules.infoSignal.addSignal = '';
			this.$store.state.AdminModules.infoSignal.updateSignal = '';
		},
	},
	mounted(){
		this.retrievePersonStatus();		
		this.retrivePrivilegesList();
		this.retrieveRoleList();
		this.clearAllSignal();
	},
	created(){
		this.retrieveAdminInfo();
	}
}
</script>