<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordPageTitle }}</h1>
                </div>                
            </div>
        </header>
        <section class="page-content container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{ word.wordCreateAdminDescr }}</h5>
                        <form :class="($v.$anyError)? 'form-horizontal need validate was-validated' : 'form-horizontal need validation'" v-on:submit.prevent="updateAdmin()" novalidate>
                            <div class="card-body" v-if="loading == false">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-show="getInfoSign.updateSignal == generalErrorStatus">
                                    <strong>{{ word.wordGeneralError }}</strong>
                                    <ul>
                                        <li v-bind:key="value.id" v-for="value in getFieldErrorInfo.fieldInfo[this.$root.langValue]">{{ value.message }}</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordName }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" v-bind:placeholder="word.wordNamePlaceholder" v-model="name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mobile" class="col-sm-2 col-form-label">{{ word.wordMobile }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="mobile" v-bind:placeholder="word.wordMobilePlaceholder" v-model="mobile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label">{{ word.wordEmail }}</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" v-bind:placeholder="word.wordEmailPlaceholder" v-model="email">
                                    </div>
                                </div>
                                <!-- <div class="form-group row" v-show="showPrivilegesOption">                                    
                                    <label for="privileges" class="col-sm-2 col-form-label">{{ word.wordPrivileges }}</label>
                                    <div class="col-sm-10">
                                        <div v-bind:key="privDetail.name" v-for="(privDetail) in privilegesList" class="custom-control custom-checkbox checkbox-primary m-b-20">
                                            <div v-bind:key="value.name" v-for="(value, index) in privDetail.sub">
                                                <div v-if="index == 0">
                                                    <input type="checkbox" class="custom-control-input" v-bind:id="privDetail.name + '-' + value.name" v-on:click="pickedRootPrivileges(privDetail.name, privDetail.id)" :value="value.id.toString()" v-model="privileges">
                                                    <label class="custom-control-label" v-bind:for="privDetail.name + '-' + value.name">{{ getPrivilegeName(privDetail.label) }}</label> 
                                                </div>

                                                <div v-if="index != 0" class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" v-bind:id="privDetail.name + '-' + value.name" :value="value.id.toString()" v-model="privileges" v-on:click="pickedChilPrivileges(privDetail.name, value.id)" :disabled="!checkChildPrivileges(privDetail.name, value.id)"> 
                                                    <label class="custom-control-label" v-bind:for="privDetail.name + '-' + value.name">{{ getPrivilegeName(privDetail.label, value.label) }}</label>  
                                                </div>
                                            </div>                                           
                                        </div>                                       
                                    </div>                                     
                                </div> -->
                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label">{{ word.wordRole }}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" v-model="role_id">
                                            <option v-for="detail in showRoleOption" v-bind:key="detail.id" v-bind:value="detail.id">{{ detail.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" v-else>
                                <div class="preloader pl-xxs pls-primary">
                                    <svg class="pl-circular" viewBox="25 25 50 50">
                                        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-footer bg-light">
                                <div class="form-group m-b-0 row">
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary">{{ word.wordButtonSubmit }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    	{{ predefineAdminField }}
    </div>
</template>

<script>

import axios from 'axios';
import { required, email } from 'vuelidate/lib/validators';
import Config from '@/js/config/app.js';
import AdminModule from '@/js/stores/modules/admin/admin-modules.js';

export default {
    data(){
        return {
            name: '',
            mobile: '',
            email: '',
            password: '',
            privileges: [],
            role_id: '',
            defaultPrivileges: [],
            checkedRootPrivileges: [],
            generalErrorStatus: Config.generalStatus['error'],
            generalSuccessStatus: Config.generalStatus['success'],
            loading: true,
        }
    },
    computed: {
         word() {
            return {
                wordPageTitle: this.$root.language['admin/admin-modules-edit/pagetitle'],
                wordCreateAdminDescr: this.$root.language['admin/admin-modules-edit/account/descr'],
                
                wordName: this.$root.language['admin/admin-modules-edit/field/name'],
                wordNamePlaceholder: this.$root.language['admin/admin-modules-edit/field/name/placeholder'],
                wordMobile: this.$root.language['admin/admin-modules-edit/field/mobile'],
                wordMobilePlaceholder: this.$root.language['admin/admin-modules-edit/field/mobile/placeholder'],
                wordEmail: this.$root.language['admin/admin-modules-edit/field/email'],
                wordEmailPlaceholder: this.$root.language['admin/admin-modules-edit/field/email/placeholder'],
                wordPassword: this.$root.language['admin/admin-modules-edit/field/password'],
                wordPasswordPlaceholder: this.$root.language['admin/admin-modules-edit/field/password/placeholder'],
                wordPrivileges: this.$root.language['admin/admin-modules-edit/field/privileges'],
                wordPrivilegesPlaceholder: this.$root.language['admin/admin-modules-edit/field/privileges/placeholder'],
                wordRole: this.$root.language['admin/admin-modules-edit/field/role'],
                wordRolePlaceholder: this.$root.language['admin/admin-modules-edit/field/role/placeholder'],
                
                wordButtonSubmit: this.$root.language['admin/admin-modules-edit/button/submit'],
                wordButtonReset: this.$root.language['admin/admin-modules-edit/button/reset'],

                wordRequireName: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/admin-modules-edit/field/name']),
                wordRequireMobile: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/admin-modules-edit/field/mobile']),
                wordRequireEmail: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/admin-modules-edit/field/email']),
                wordRequirePassword: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/admin-modules-edit/field/password']),
                wordValidEmail: this.$root.validateLanguage['field/validation/text/invalid'].replace('{field}', this.$root.language['admin/admin-modules-edit/field/email']),
                wordGeneralError: this.$root.language['system/general/error'],
            }
        },
        privilegesList(){
            let privileges_list = this.$store.state.AdminModules.adminPrivilegesList;
            return privileges_list;
        },
        getInfoSign(){
            return this.$store.state.AdminModules.infoSignal;
        },
        getFieldErrorInfo(){ 
            let fieldInfo = this.$store.state.AdminModules.field_error;            
            return { fieldInfo: fieldInfo };
        },
        predefineAdminField(){
            
			let result = (this.$store.state.AdminModules.isShowingAdminInfo == '')? '' :  this.$store.state.AdminModules.isShowingAdminInfo[0];

			this.name = (result == '')? '' : result.name;
			this.email = (result == '')? '' : result.email;
            this.mobile = (result == '')? '' : result.mobile;
            this.privileges = (result == '')? '' : result.privileges;
            this.role_id = (result == '')? '' : result.role_id;

            let ap = this.privileges;
            let rootPrivileges = [];
            
            if(ap){
                if(Object.keys(this.$store.state.AdminModules.adminPrivilegesList).length !== 0 && this.$store.state.AdminModules.adminPrivilegesList.constructor === Array){   
                
                    this.$store.state.AdminModules.adminPrivilegesList.forEach(function(element){
                        if(ap.includes(element.id.toString()) && !rootPrivileges.includes(element.name) ){    
                            rootPrivileges.push(element.name);         
                        }
                    });
                }
            }

            this.checkedRootPrivileges = rootPrivileges;
            
            setTimeout( () => {
                this.loading = false;
            }, 375);
        },
        showPrivilegesOption(){
            let result = (this.$store.state.AdminModules.isShowingAdminInfo == '')? '' :  this.$store.state.AdminModules.isShowingAdminInfo[0];
            let display = false;
            if(result){
                display = (!result.master && !result.dev)? true : false; 
            }
            return display;
        },
        showRoleOption(){
            let list = this.$store.state.AdminModules.roleList;
            return list;
        },
    },
    validations: {
        name: {
            required: required,
        },
        email: {
            required: required,
            email: email,
        },
        mobile: {
            required: required,
        },
        password: {
            required: required,
        },
        role_id: {
            required: required,
        },
    },
    methods: {
        getPrivilegesList(){
            const data = {
				admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 3000,
			};
            this.$store.dispatch('AdminModules/getAdminPrivilegesList', data, { root: true });
        },
        getPrivilegeName(privilegesName, action = ''){
            let text = (action == '')? this.$root.language[privilegesName] : this.$root.language[action] + ' ' + this.$root.language[privilegesName];
            return text;
        },
        pickedRootPrivileges(rootPrivileges, id){ 
            let curr_privileges = this.privileges;
            
            if(!this.checkedRootPrivileges.includes(rootPrivileges)){
                this.checkedRootPrivileges.push(rootPrivileges);
                let systemPrivileges = this.privilegesList;          
                systemPrivileges.forEach(function (element, index) {                    
                    if(systemPrivileges[index]['name'] == rootPrivileges){
                        curr_privileges = curr_privileges.push(systemPrivileges[index]['id'].toString());
                    }                    
                });
                this.privileges = curr_privileges;
            } else{                
                let systemPrivileges = this.privilegesList;                
                systemPrivileges.forEach(function (element, index) {                    
                    if(systemPrivileges[index]['name'] == rootPrivileges){                    
                        systemPrivileges[index]['sub'].forEach(function (detail){
                            let index = curr_privileges.indexOf(detail['id'].toString());
                            if(index !== -1){
                                curr_privileges.splice(curr_privileges.indexOf(detail['id'].toString()), 1);
                            }
                        });
                    }                    
                });
                this.privileges = curr_privileges;
            }           
        },
        pickedChilPrivileges(rootPrivileges, id){
            let index = this.privileges.indexOf(id.toString());
            if(index !== -1)
            {
                this.privileges.splice(this.privileges.indexOf(id.toString()), 1);
            } else {
                this.privileges.push(id.toString());   
            }
        },
        checkChildPrivileges(rootPrivileges, id){           
            return this.checkedRootPrivileges.includes(rootPrivileges);            
        }, 
        updateAdmin(){
            const data = {
                name: this.name,
                mobile: this.mobile,
                email: this.email,
                privileges: this.privileges,
                role_id: this.role_id,
                wsid: Config.getWSID() + 2000,
                admin_uid: this.$store.getters.adminInfo.uid,
                aid: this.$route.params.aid,
            };
            this.$store.dispatch('AdminModules/updateAdmin', data, { root: true });
        },
        retrieveAdminInfo(){
			let data = {
				admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 1000,
                aid: this.$route.params.aid,
			};
			this.$store.dispatch('AdminModules/retreiveAdminInfo', data, { root: true });
        },
        retrieveRoleList(){
			let data = {
				wsid: Config.getWSID() + 3500,
			};			
			this.$store.dispatch('AdminModules/retriveRoleList', data, { root: true });
		},	
        clearAllSignal(){
			this.$store.state.AdminModules.infoSignal.addSignal = '';
			this.$store.state.AdminModules.infoSignal.updateSignal = '';
		},
    },
    created(){
    	this.getPrivilegesList();
    	this.retrieveAdminInfo();
		this.retrieveRoleList();
		this.clearAllSignal();
    },    
}
</script>