<template>
	<div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordAdminModules }}</h1>
                </div>                
            </div>
        </header>
		<section class="page-content container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success alert-dismissible fade show" role="alert" v-show="getAdminModulesInfoSignal.addSignal == generalSuccessStatus" >
                        <span>{{ word.wordAddAdminSucc }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" v-show="getAdminModulesInfoSignal.updateSignal == generalSuccessStatus" >
                        <span>{{ word.wordUpdateAdminSucc }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
					<div class="card">
						<h5 class="card-header">{{ word.wordSearch }}</h5>
						<div class="card-body">							
							<!-- Quick Search -->
							<ul class="nav nav-tabs nav-fill">
								<li class="nav-item" role="presentation"><a href="#qsearch-tab" class="nav-link active show" data-toggle="tab" aria-expanded="true">{{ word.wordQuickSearch }}</a></li>
								<li class="nav-item" role="presentation"><a href="#asearch-tab" class="nav-link" data-toggle="tab" aria-expanded="true">{{ word.wordAdvancedSearch }}</a></li>
							</ul>
							<!-- Advanced Search -->
							<div class="tab-content">
								<div class="tab-pane fadeIn active" id="qsearch-tab">
									<form id="qsearch_form" method="post" v-on:submit.prevent="executeQuickSearch()">
										<div class="form-group row">
											<label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">{{ word.wordQuickSearchFieldSearch }}</label>
											<div class="col-sm-10">
												<input type="text" class="form-control form-control-lg" v-bind:placeholder="word.wordQuickSearchFieldSearchPlaceholder" v-model="qsearchValue" />
											</div>		
										</div>										
										<button class="btn btn-primary">{{ word.wordQuickSearchSubmit }}</button>
									</form>							                                
								</div>
								<div class="tab-pane fadeIn" id="asearch-tab">
									<form id="asearch_form" v-on:submit.prevent="executeAdvanceSearch()">
										<div class="form-group row">
											<label for="name" class="col-sm-2 col-form-label col-form-label-lg">{{ word.wordAdvancedSearchFieldName }}</label>
											<div class="col-sm-10">
												<input type="text" class="form-control form-control-lg" v-model="name" v-bind:placeholder="word.wordAdvancedSearchFieldNamePlaceholder" />
											</div>											
										</div>
										<div class="form-group row">
											<label for="mobile" class="col-sm-2 col-form-label col-form-label-lg">{{ word.wordAdvancedSearchFieldMobile }}</label>
											<div class="col-sm-10">
												<input type="text" class="form-control form-control-lg" v-model="mobile" v-bind:placeholder="word.wordAdvancedSearchFieldMobilePlaceholder" />
											</div>	
										</div>
										<div class="form-group row">
											<label for="email" class="col-sm-2 col-form-label col-form-label-lg">{{ word.wordAdvancedSearchFieldEmail }}</label>
											<div class="col-sm-10">
												<input type="text" class="form-control form-control-lg" v-model="email" v-bind:placeholder="word.wordAdvancedSearchFieldEmailPlaceholder" />
											</div>	
										</div>
										<div class="form-group row">
											<label for="status" class="col-sm-2 col-form-label col-form-label-lg">{{ word.wordAdvancedSearchFieldStatus }}</label>
											<div class="col-sm-10">
												<div class="custom-control custom-checkbox custom-control-inline" v-for="statusInfo in adminStatusList" v-bind:key="statusInfo.name">
													<input type="checkbox" v-model="status" v-bind:id="statusInfo.name" v-bind:value="statusInfo.id" class="custom-control-input" v-bind:name="statusInfo.name">
													<label class="custom-control-label" v-bind:for="statusInfo.name">{{ changeStatusText(statusInfo.name).status }}</label>
												</div>
											</div>
										</div>
										<!-- 
										<div class="form-group row">
											<label for="email" class="col-sm-2 col-form-label col-form-label-lg">{{ word.wordAdvancedSearchFieldCreatedDate }}</label>
											<div class="col-sm-10">
												<vuejs-Datepicker v-model="cdate" :input-class="dateClass"></vuejs-Datepicker>
											</div>	
										</div>
										-->
										<button class="btn btn-primary">{{ word.wordAdvancedSearchButtonSearch }}</button>
										<button type="button" class="btn btn-secondary clear-form">{{ word.wordAdvancedSearchButtonClear }}</button>
									</form>	
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">{{ word.wordAdminModules }}</h5>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-12">									
									<router-link class="btn btn-primary float-right" v-bind:to="{ name: 'admin-modules-insert'}">{{ word.wordButtonAddAdmin }}</router-link>	
								</div>
							</div>
							<br />
							<div class="table-responsive" v-if="adminList != ''">
								<table class="table table-striped">									
									<thead>
										<tr>
											<th>
												<a href="" @click.prevent="sortField('id')">{{ word.wordTableFieldAdminID }}
													<i v-show="sortInfo.field == 'id' && sortInfo.type == 'desc'" class="la la-arrow-down"></i>
													<i v-show="sortInfo.field == 'id' && sortInfo.type == 'asc'" class="la la-arrow-up"></i>
												</a>
											</th>
											<th width="90px">
												<a href='' @click.prevent="sortField('name')">{{ word.wordTableFieldName }}
													<i v-show="sortInfo.field == 'name' && sortInfo.type == 'desc'" class="la la-arrow-down"></i>
													<i v-show="sortInfo.field == 'name' && sortInfo.type == 'asc'" class="la la-arrow-up"></i>
												</a>
											</th>
											<th>
												<a href='' @click.prevent="sortField('mobile')">{{ word.wordTableFieldMobile }}
													<i v-show="sortInfo.field == 'mobile' && sortInfo.type == 'desc'" class="la la-arrow-down"></i>
													<i v-show="sortInfo.field == 'mobile' && sortInfo.type == 'asc'" class="la la-arrow-up"></i>
												</a>
											</th>
											<th>
												<a href='' @click.prevent="sortField('email')">{{ word.wordTableFieldEmail }}
													<i v-show="sortInfo.field == 'email' && sortInfo.type == 'desc'" class="la la-arrow-down"></i>
													<i v-show="sortInfo.field == 'email' && sortInfo.type == 'asc'" class="la la-arrow-up"></i>
												</a>
											</th>
											<th>
												{{ word.wordTableFieldRole }}
											</th>
											<th width="90px">
												<a href='' @click.prevent="sortField('status')">{{ word.wordTableFieldStatus }}
													<i v-show="sortInfo.field == 'status' && sortInfo.type == 'desc'" class="la la-arrow-down"></i>
													<i v-show="sortInfo.field == 'status' && sortInfo.type == 'asc'" class="la la-arrow-up"></i>
												</a>
											</th>
											<th>
												<a href='' @click.prevent="sortField('updated_at')">{{ word.wordTableFieldUdate }}
													<i v-show="sortInfo.field == 'updated_at' && sortInfo.type == 'desc'" class="la la-arrow-down"></i>
													<i v-show="sortInfo.field == 'updated_at' && sortInfo.type == 'asc'" class="la la-arrow-up"></i>
												</a>
											</th>
											<th>
												<a href='' @click.prevent="sortField('created_at')">{{ word.wordTableFieldCdate }}
													<i v-show="sortInfo.field == 'created_at' && sortInfo.type == 'desc'" class="la la-arrow-down"></i>
													<i v-show="sortInfo.field == 'created_at' && sortInfo.type == 'asc'" class="la la-arrow-up"></i>
												</a>
											</th>
											<th>{{ word.wordTableFieldAction }}</th>
										</tr>
									</thead>
									<!-- v-if="adminList != '' -->
									<tbody>
										<tr v-for="info in adminList" v-bind:key="info.uid">
											<td>{{ info.uid }}</td>
											<td>{{ info.name }}</td>
											<td>{{ info.mobile }}</td>
											<td>{{ info.email }}</td>
											<td>{{ getRoleName(info.role_id) }}</td>
											<td>{{ changeStatus(info.uid).status }}</td>
											<td>{{ info.updated_at }}</td>
											<td>{{ info.created_at }}</td>
											<td>
												<router-link class="btn btn-info btn-sm" v-show="hasPermission('admin-modules-view')" v-bind:to="{ name: 'admin-modules-view', params: {aid: info.uid} }">{{ word.wordView }}</router-link>&nbsp;
												<router-link class="btn btn-warning btn-sm" v-show="hasPermission('admin-modules-edit')" v-bind:to="{ name: 'admin-modules-edit', params: {aid: info.uid} }">{{ word.wordEdit }}</router-link>&nbsp;
											</td>
										</tr>										
										
									</tbody>
								</table>								
							</div>
							<div class="preloader pl-xxs pls-primary" style="left: 50%;" v-else>
								<svg class="pl-circular" viewBox="25 25 50 50">
									<circle class="plc-path" cx="50" cy="50" r="20"></circle>
								</svg>
							</div>
							<div class="row float-left">
								<div class="col-sm-12">
									<span v-if="adminList != ''">{{ recordMessage() }}</span>
									<span v-show="getAdminModulesInfoSignal.quickSearchSignal == true || getAdminModulesInfoSignal.advanceSearchSignal == true"> {{ word.wordClearSearch }} <a href='' v-on:click.prevent="clearSearch()">{{ word.wordHere }}</a></span>
								</div>
							</div>
							
							<div class="row float-right">
								<ul class="pagination" v-if="generatePagination() != ''">
									<li class="paginate_button page-item previous" id="bs4-table_previous">
										<a @click.prevent="switchPage(generatePagination().prev_page_url)" aria-controls="bs4-table" tabindex="0" v-bind:class="[generatePagination().prev_page_url == null? 'page-link disabled' : 'page-link']">{{ word.wordPrevPage }}</a>
									</li>
									<li v-bind:key=i v-for="i in generatePagination().last_page" v-bind:class="[i==generatePagination().current_page? 'paginate_button page-item active' : 'paginate_button page-item']">
										<a aria-controls="bs4-table" tabindex="0" class="page-link" @click.prevent="switchPage(generatePagination().path + '?page=' + i)">{{ i }}</a>
									</li>
									<li class="paginate_button page-item next" id="bs4-table_next">
										<a @click.prevent="switchPage(generatePagination().next_page_url)" aria-controls="bs4-table" tabindex="0" v-bind:class="[generatePagination().next_page_url == null? 'page-link disabled' : 'page-link']">{{ word.wordNextPage }}</a>
									</li>
								</ul>
								<ul v-else>
								</ul>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</section>
		{{ sortInfo.field }}
		{{ sortInfo.type }}
		{{ getAdminModulesInfoSignal.updateSignal }}
	</div>
</template>

<script>

import Config from '@/js/config/app.js';
import AdminModule from '@/js/stores/modules/admin/admin-modules.js';
// import vuejsDatepicker from 'vuejs-datepicker';

export default{
	data(){
		return {
			qsearchValue: '',
			name: '',
			email: '',
			mobile: '',
			i: 1,
			status: [],
            generalSuccessStatus: Config.generalStatus['success'],
            sortInfo: {
            	field: '',
            	type: '',
            },
		}
	},
	/*
	components: {
		vuejsDatepicker: vuejsDatepicker,
	},
	props: {
		dateClass: {
			type: String,
			default: 'form-control form-control-lg',
		},		
	},
	*/
	computed: {
		word(){
			return{
				wordAdminModules: this.$root.language['admin/admin-modules/pagetitle'],
				wordSearch: this.$root.language['admin/admin-modules/search'],
				wordButtonAddAdmin: this.$root.language['admin/admin-modules/button/add-admin'],
				
				wordQuickSearch: this.$root.language['admin/admin-modules/qsearch'],
				wordQuickSearchFieldSearch: this.$root.language['admin/admin-modules/qsearch/field/search'],
				wordQuickSearchFieldSearchPlaceholder: this.$root.language['admin/admin-modules/qsearch/field/search/placeholder'],
				wordQuickSearchSubmit: this.$root.language['admin/admin-modules/qsearch/button/submit'],
				
				wordAdvancedSearch: this.$root.language['admin/admin-modules/asearch'],
				wordAdvancedSearchFieldName: this.$root.language['admin/admin-modules/asearch/field/name'],
				wordAdvancedSearchFieldMobile: this.$root.language['admin/admin-modules/asearch/field/mobile'],
				wordAdvancedSearchFieldEmail: this.$root.language['admin/admin-modules/asearch/field/email'],
				wordAdvancedSearchFieldStatus: this.$root.language['admin/admin-modules/asearch/field/status'],				
				wordAdvancedSearchFieldNamePlaceholder: this.$root.language['admin/admin-modules/asearch/field/name/placeholder'],
				wordAdvancedSearchFieldMobilePlaceholder: this.$root.language['admin/admin-modules/asearch/field/mobile/placeholder'],
				wordAdvancedSearchFieldEmailPlaceholder: this.$root.language['admin/admin-modules/asearch/field/email/placeholder'],
				wordAdvancedSearchFieldCreatedDate: this.$root.language['admin/admin-modules/asearch/field/cdate'],
				wordAdvancedSearchFieldCreatedDatePlaceholder: this.$root.language['admin/admin-modules/asearch/field/cdate/placeholder'],
				wordAdvancedSearchFieldUpdatedDate: this.$root.language['admin/admin-modules/asearch/field/udate'],
				wordAdvancedSearchFieldUpdatedDatePlaceholder: this.$root.language['admin/admin-modules/asearch/field/udate/placeholder'],
				wordAdvancedSearchButtonSearch: this.$root.language['admin/admin-modules/asearch/button/search'],
				wordAdvancedSearchButtonClear: this.$root.language['admin/admin-modules/asearch/button/clear'],
				
				wordTableFieldAdminID: this.$root.language['admin/admin-modules/table-field/uid'],
				wordTableFieldName: this.$root.language['admin/admin-modules/table-field/name'],
				wordTableFieldMobile: this.$root.language['admin/admin-modules/table-field/mobile'],
				wordTableFieldEmail: this.$root.language['admin/admin-modules/table-field/email'],
				wordTableFieldRole: this.$root.language['admin/admin-modules/table-field/role'],
				wordTableFieldStatus: this.$root.language['admin/admin-modules/table-field/status'],
				wordTableFieldCdate: this.$root.language['admin/admin-modules/table-field/cdate'],
				wordTableFieldUdate: this.$root.language['admin/admin-modules/table-field/udate'],
				wordTableFieldAction: this.$root.language['admin/admin-modules/table-field/action'],

				wordPrevPage: this.$root.language['system/button/prev-page'],
				wordNextPage: this.$root.language['system/button/next-page'],

				wordAddAdminSucc: this.$root.language['admin/admin-modules-create/message/success'],
				wordUpdateAdminSucc: this.$root.language['admin/admin-modules-edit/message/success'],
				wordClearSearch: this.$root.language['admin/admin-modules/clear-search'],
				wordHere: this.$root.language['admin/admin-modules/here'],

				wordView: this.$root.language['admin/privileges/label/view'],
				wordEdit: this.$root.language['admin/privileges/label/edit'],
			}
		},
		adminList(){
			let searchResult = this.$store.state.AdminModules.searchResult;
			return (searchResult)? searchResult['data'] : '';
		},
		adminStatusList(){
			return this.$store.state.AdminModules.adminStatusList;
		},
		paginationInfo(){
			return this.$store.state.AdminModules.searchResult;
		},
		getAdminModulesInfoSignal(){
			return this.$store.state.AdminModules.infoSignal;
		},
		getRoleList(){
			return this.$store.state.AdminModules.roleList;
		},
		privilegesList(){
			return this.$store.getters.privilegesList;
		},
		AdminPermission(){
			return this.$store.getters.permission; 
		},
	},
	methods: {
		executeQuickSearch(){
			const data = {
                admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 2500,
                qsearch: this.qsearchValue,
                searchType: Config.infoSearchType['quick'],
			};		
			this.$store.dispatch('AdminModules/executeQuickSearch', data, { root: true });
		},
		retrieveAdminList(){
			const data = {
				admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 2400,
			};
			this.$store.dispatch('AdminModules/retreiveAdminList', data, { root: true });
		},
		changeStatus(uid){
			let prefixStatus = 'person/status/';
			let status = '';
			if(this.adminList != ""){
				this.adminList.forEach(function(element){
					if(element['uid'] == uid){
						status = prefixStatus + element['status']; 
						stop;
					}
				});	
			}			
			return {status: this.$root.language[status]};
		},
		changeStatusText(status){
			let prefixStatus = 'person/status/';
			let fullLengthStatus = prefixStatus + status;
			return { status: this.$root.language[fullLengthStatus] }; 
		},
		generatePagination(){
			let pagination = '';
			if(this.paginationInfo != "" && this.adminList != ""){
				pagination = Config.generatePagination(this.paginationInfo.current_page, this.paginationInfo.prev_page_url, this.paginationInfo.first_page_url, 1, this.paginationInfo.last_page, this.paginationInfo.last_page_url, this.paginationInfo.next_page_url, this.paginationInfo.path);
			}
			return pagination;
		},
		switchPage(url){
			let data = {
                admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 2300,
                url: url,
			};	
			if(data.url != null){
				this.$store.dispatch('AdminModules/switchPage', data, { root: true });
			}
			return;
		},
		retrievePersonStatus(){
			let sdata = {
				admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 1000,
			};
			this.$store.dispatch('AdminModules/getStatusList', sdata, { root: true });
		},
		executeAdvanceSearch(){
			let aData = {
				name : this.name ,
				email : this.email,
				mobile : this.mobile,
				status : this.status,
				searchType: Config.infoSearchType['advance'],
				admin_uid: this.$store.getters.adminInfo.uid,
				wsid: Config.getWSID() + 2200,
			};
			this.$store.dispatch('AdminModules/executeAdvanceSearch', aData, { root: true });
		},
		recordMessage(){
			let msg = this.$root.language['admin/admin-modules/record/message'];	
			let from = (typeof this.paginationInfo.from == "number")? this.paginationInfo.from : 0;
			let to = (typeof this.paginationInfo.to == "number")? this.paginationInfo.to : 0;
			let total = (typeof this.paginationInfo.total == "number")? this.paginationInfo.total : 0;
			
			msg = msg.replace('{from}', from);
			msg = msg.replace('{to}', to);
			msg = msg.replace('{record}', total);
			return msg;
		},
		retrivePrivilegesList(){
			let data = {
				admin_uid: this.$store.getters.adminInfo.uid,
				wsid: Config.getWSID() + 2000,
			};
			this.$store.dispatch('AdminModules/getAdminPrivilegesList', data, { root: true });
		},
		hasPrivileges(action = 'view'){
			let result = false;
			let privilegesList = this.$store.state.AdminModules.adminPrivilegesList;
			let adminPrivileges = this.$store.getters.adminInfo.privileges;

			if(this.$store.getters.adminInfo.dev || this.$store.getters.adminInfo.master){
				result = true;
			} else if(this.$store.getters.adminInfo.privileges != ""){
				if(privilegesList != ''){
					privilegesList.forEach(function (element, index){
						if(element.name == "admin-module"){
							privilegesList[index]['sub'].forEach(function (element, key){
								if(privilegesList[index]['sub'][key]['name'] == action){
									if(adminPrivileges.includes(privilegesList[index]['sub'][key]['id'])){
										result = true;							
										return;	
									}
								}
							});
						}
					});
				}
			} else {
				//console.log('error get action...');
			}
			
			return result;
		},
		clearSearch(){
			this.qsearchValue = '';
			this.name = '';
			this.email = '';
			this.mobile = '';
			this.status = [];
			this.$store.state.AdminModules.infoSignal.quickSearchSignal = '';
			this.$store.state.AdminModules.infoSignal.advanceSearchSignal = '';
			this.retrieveAdminList();
		},
		sortField(field){
			let type = "desc";		
			if(field == this.sortInfo.field){
				type = (this.sortInfo.type == 'desc')? 'asc' : 'desc';
			}
			let data = {
				admin_uid: this.$store.getters.adminInfo.uid,
				wsid: Config.getWSID() + 2100,
				sortField: field,
				sortType: type,
			};
			this.sortInfo.field = field;
			this.sortInfo.type = type;
			this.$store.dispatch('AdminModules/sortField', data, { root: true });
		},
		retrieveRoleList(){
			let data = {
				wsid: Config.getWSID() + 2500,
			};
			
			this.$store.dispatch('AdminModules/retriveRoleList', data, { root: true });
		},
		getRoleName(id){
			let text = '';
			if(this.getRoleList != undefined && this.getRoleList != ""){
				this.getRoleList.forEach(function (value, index){
					if(id == value.id){
						text = value.name;
					}
				});
			}
			return text;
		},
		hasPermission(privilegesName){
			let admin_info = localStorage.getItem('adminInfo');
			admin_info = JSON.parse(admin_info);
			if(admin_info.master == 1){
				return true;
			}				
			let name = privilegesName;
			let result = false;
			if(this.privilegesList != null && this.AdminPermission != null){
				let routeCode = this.privilegesList[name];
				let n =  this.AdminPermission.indexOf(routeCode);
				if(n != "-1"){
					result = true;
				}
			}
			return result;
		},
	},
	mounted(){
		this.retrievePersonStatus();
		this.retrivePrivilegesList();
		this.retrieveAdminList();
		this.retrieveRoleList();
		this.$store.state.ProfileModules.updateInfoSignal.updateProfileSignal = '';
        this.$store.state.ProfileModules.updateInfoSignal.updatePasswordSignal = '';
	}
}
</script>