<template>
    <div class="content">
        <header class="page-header">
            <h5>{{ word.wordApp }}</h5>
        </header>
        <div class="page-content container-fluid">
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        word(){
            return {
                wordApp: this.$root.language['admin/dashboard/title'],
            }
        }
    },
    created(){
        this.$store.state.ProfileModules.updateInfoSignal.updateProfileSignal = '';
        this.$store.state.ProfileModules.updateInfoSignal.updatePasswordSignal = '';
    }
}
</script>