<template>
    <div class="content">
        <header class="page-header">
            <h5>{{ word.wordApp }}</h5>
        </header>
        <div class="page-content container-fluid">
            <div class="alert alert-danger" role="alert">
                {{ word.message }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        word(){
            return {
                wordApp: this.$root.language['admin/privileges/pagetitle'],
                message: this.$root.language['admin/privileges/no-privileges/message'],
            }
        }
    }
}
</script>