<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordProfile }}</h1>
                </div>                
            </div>
        </header>
         
        <section class="page-content container-fluid">
            <div class="row">            
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{ word.wordProfileDescr }}</h5>
                        <form method="post" :class="($v.$anyError)? 'form-horizontal need validate was-validated' : 'form-horizontal need validation'" v-on:submit.prevent="updateProfile()" novalidate>
                            <div class="card-body">                              
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-show="getUpdateSign.updateProfileSignal == generalErrorStatus">
                                    <strong>{{ word.wordGeneralError }}</strong>
                                     <ul>
                                        <li v-bind:key="value.id" v-for="value in getFieldErrorInfo.profileFieldInfo[this.$root.langValue]">{{ value.message }}</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>

                                <div class="alert alert-success alert-dismissible fade show" role="alert" v-show="getUpdateSign.updateProfileSignal == generalSuccessStatus">
                                    {{ word.wordUpdateProfile }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>

                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">{{ word.wordName }}</label>
                                        <div class="col-md-5">
                                            <input type="text" id="name" :placeholder="word.wordName" @blur="$v.name.$touch()" class="form-control" v-model="name" required>
                                            <div v-if="!$v.name.required" :class="(!$v.name.required)? 'invalid-feedback': 'valid-feedback' ">
                                                {{ word.wordRequireName }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">{{ word.wordMobile }}</label>
                                        <div class="col-md-5">
                                            <input type="text" :placeholder="word.wordMobile" @blur="$v.mobile.$touch()" class="form-control" v-model="mobile" required="" @keypress="onlyNumber($event)">
                                            <div v-if="!$v.mobile.required" :class="(!$v.mobile.required)? 'invalid-feedback': 'valid-feedback' ">
                                                {{ word.wordRequireMobile }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">{{ word.wordEmail }}</label>
                                        <div class="col-md-5">
                                            <input type="email" :placeholder="word.wordEmail" @blur="$v.email.$touch()" class="form-control" v-model="email" required="">
                                            <div v-if="!$v.email.required" :class="(!$v.email.required)? 'invalid-feedback': 'valid-feedback' ">
                                                {{ word.wordRequireEmail }}
                                            </div>
                                            <div v-if="!$v.email.email" :class="(!$v.email.email)? 'invalid-feedback': 'valid-feedback' ">
                                                {{ word.wordValidEmail }}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-light">
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="offset-sm-3 col-md-5">
                                                    <button class="btn btn-primary btn-rounded">{{ word.wordSubmit }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{ word.wordPasswordDescr }}</h5>
                        <form action="" :class="($v.password.$anyError || $v.confirm_password.$anyError)? 'form-horizontal need validate was-validated' : 'form-horizontal need validation'" v-on:submit.prevent="updatePassword()" novalidate>
                            <div class="card-body">     
                                <div class="alert alert-success alert-dismissible fade show" role="alert"  v-show="getUpdateSign.updatePasswordSignal == generalSuccessStatus">
                                    {{ word.wordUpdateProfile }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-show="getUpdateSign.updatePasswordSignal == generalErrorStatus">
                                    <strong>{{ word.wordGeneralError }}</strong>
                                    <ul>
                                        <li v-bind:key="value.id" v-for="value in getFieldErrorInfo.passwordFieldInfo[this.$root.langValue]">{{ value.message }}</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>                                
                                
                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">{{ word.wordPassword }}</label>
                                        <div class="col-md-5">
                                            <input type="password" id="password" :placeholder="word.wordPassword" @blur="$v.password.$touch()" class="form-control" v-model="password" required>
                                            <div v-if="!$v.password.required" :class="(!$v.password.required)? 'invalid-feedback': 'valid-feedback' ">
                                                {{ word.wordRequirePassword }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">{{ word.wordCPassword }}</label>
                                        <div class="col-md-5">
                                            <input type="password" id="confirm_password" :placeholder="word.wordCPassword" @blur="$v.confirm_password.$touch()" class="form-control" v-model="confirm_password" required>
                                            <div v-if="!$v.confirm_password.required" :class="(!$v.confirm_password.required)? 'invalid-feedback': 'valid-feedback' ">
                                                {{ word.wordRequireConfirmPassword }}
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="card-footer bg-light">
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="offset-sm-3 col-md-5">
                                                    <button class="btn btn-primary btn-rounded">{{ word.wordSubmit }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
        </section>
    </div>
</template>

<script>
import axios from 'axios';
import { required, email } from 'vuelidate/lib/validators';
import { mapState } from 'vuex';
import Config from '@/js/config/app.js';
import ProfileModules from '@/js/stores/modules/admin/profile.js';

export default {
    data(){
        return {
            name: '',
            mobile: '',
            email: '',
            password: '',
            confirm_password: '',
            generalErrorStatus: Config.generalStatus['error'],
            generalSuccessStatus: Config.generalStatus['success'],
        }
    },
    computed: {
        word() {
            return {
                wordProfile: this.$root.language['admin/dashboard/profile'],
                wordProfileDescr: this.$root.language['admin/profile/description'],
                wordName: this.$root.language['admin/profile/field/name'],
                wordMobile: this.$root.language['admin/profile/field/mobile'],
                wordEmail: this.$root.language['admin/profile/field/email'],
                wordPassword: this.$root.language['admin/profile/field/password'],
                wordSubmit: this.$root.language['admin/profile/button/submit'],
                wordReset: this.$root.language['admin/profile/button/reset'],
                wordPasswordDescr: this.$root.language['admin/profile/password/description'],
                wordCPassword: this.$root.language['admin/profile/field/cpassword'],
                wordGeneralError: this.$root.language['system/general/error'],
                wordUpdateProfile: this.$root.language['admin/profile/success/message'],
                
                wordRequireName: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/profile/field/name']),
                wordRequireMobile: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/profile/field/mobile']),
                wordRequireEmail: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/profile/field/email']),
                wordRequirePassword: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/profile/field/password']),
                wordRequireConfirmPassword: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/profile/field/cpassword']),
                wordValidEmail: this.$root.validateLanguage['field/validation/text/invalid'].replace('{field}', this.$root.language['admin/profile/field/email']),
            }
        },
        getFieldErrorInfo(){
            let profileFieldInfo = this.$store.state.ProfileModules.field_error; 
            let passwordFieldInfo = this.$store.state.ProfileModules.profile_password_field_error;            
            return { profileFieldInfo: profileFieldInfo, passwordFieldInfo: passwordFieldInfo};
        },
        getUpdateSign(){
            return this.$store.state.ProfileModules.updateInfoSignal;
        }
    },
    validations: {
        email: {
            required: required,
            email: email,
        },
        mobile: {
            required: required,
        },
        name: {
            required: required,
        },
        password: {
            required: required,
        },
        confirm_password: {
            required: required,
        }
    },
    methods: {
        updateProfile(){            
            const formData = {
                email: this.email,
                name: this.name,
                mobile: this.mobile,
                admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID(),
            };
            this.$store.dispatch('ProfileModules/updateProfile', formData); 
        },
        updatePassword(){
            let d = new Date();
            const passwordData = {
                password: this.password,
                confirm_password: this.confirm_password,
                admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID(),
            };
            this.$store.dispatch('ProfileModules/updatePassword', passwordData);
        },
        onlyNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode == 46) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
    },
    created(){
        // this.name = this.$store.getters.adminInfo.name;
        // this.email = this.$store.getters.adminInfo.email;
        // this.mobile = this.$store.getters.adminInfo.mobile;

        this.name = (this.$store.state.ProfileModules.adminInfo.name == null)? this.$store.getters.adminInfo.name : this.$store.state.ProfileModules.adminInfo.name;
        this.email = (this.$store.state.ProfileModules.adminInfo.email == null)? this.$store.getters.adminInfo.email : this.$store.state.ProfileModules.adminInfo.email;
        this.mobile = (this.$store.state.ProfileModules.adminInfo.mobile == null)? this.$store.getters.adminInfo.mobile : this.$store.state.ProfileModules.adminInfo.mobile;
    },
}
</script>