<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordAdminPermissionDetail }}</h1>
                </div>                
            </div>
        </header>
        <section class="page-content container-fluid">
			<div class="row">			
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">{{ word.wordAdminPermissionDetail }}</h5>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-borderless">									
									<tbody>
										<tr>
											<th>{{ word.wordTableFieldID }}</th>
											<td>{{ permissionInfo.id }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldName }}</th>
											<td>{{ permissionInfo.name }}</td>
										</tr>
                                        <tr>
											<th>{{ word.wordTableFieldPrivileges }}</th>
											<td>
												<div v-if="adminPrivilegesList && adminPrivilegesList!=undefined">													
													<div v-for="(privDetail) in adminPrivilegesList" v-bind:key="privDetail.id">
														<div v-if="permissionInfo['privileges'].indexOf(privDetail.id.toString()) != '-1'">{{ getPrivilegeName(privDetail.label) }}</div>						
														<ul>
															<div v-bind:key="value.name" v-for="(value) in privDetail.sub">
																<li v-if="permissionInfo['privileges'].indexOf(value.id.toString()) != '-1' " >{{ getPrivilegeName(privDetail.label, value.label) }}</li>
															</div>
														</ul>													
													</div>
												</div>
												<div v-else>
												</div>										
											</td>
										</tr>		
										<tr>
											<th>{{ word.wordTableFieldCdate }}</th>
											<td>{{ permissionInfo.created_at }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldUdate }}</th>
											<td>{{ permissionInfo.updated_at }}</td>
										</tr>											
									
									</tbody>
								</table>								
							</div>					
						</div>
					</div>
				</div>
			</div>
		</section>
    </div>
</template>

<script>

import Config from '@/js/config/app.js';

export default {
    computed: {
        word(){
			return {
				wordAdminPermissionDetail: this.$root.language['admin/admin-permission-detail/pagetitle'],
				wordTableFieldID: this.$root.language['admin/admin-permission-detail/field/id'],
				wordTableFieldName: this.$root.language['admin/admin-permission-detail/field/name'],
				wordTableFieldPrivileges: this.$root.language['admin/admin-permission-detail/field/privileges'],
				wordTableFieldUdate: this.$root.language['admin/admin-permission-detail/field/udate'],
				wordTableFieldCdate: this.$root.language['admin/admin-permission-detail/field/cdate'],
			}
        },
        permissionInfo(){
			let result = (this.$store.state.PermissionModule.isShowingPermissionInfo == '')? '' :  this.$store.state.PermissionModule.isShowingPermissionInfo;
			return result;
        },
        adminPrivilegesList(){
			return this.$store.state.PermissionModule.privilegesList;
        },
    },
    methods: {
        retrievePermissionInfo(){
			let data = {
                wsid: Config.getWSID() + 1000,
                id: this.$route.params.pid,
			};
			this.$store.dispatch('PermissionModule/retreivePermissionInfo', data, { root: true });
        },
        retrivePrivilegesList(){
			let data = {
				wsid: Config.getWSID() + 2000,
			};
			this.$store.dispatch('PermissionModule/retrivePrivilegesList', data, { root: true });
        },
        getPrivilegeName(privilegesName, action = ''){
            let text = (action == '')? this.$root.language[privilegesName] : this.$root.language[action] + ' ' + this.$root.language[privilegesName];
			return text;
		},
		clearAllSignal(){
			this.$store.state.PermissionModule.infoSignal.addSignal = '';
			this.$store.state.PermissionModule.infoSignal.updateSignal = '';
		},
    },
    mounted(){
		this.retrivePrivilegesList();
		this.clearAllSignal();
	},
	created(){
		this.retrievePermissionInfo();
	}
    
}
</script>