<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordPageTitle }}</h1>
                </div>                
            </div>
        </header>
         <section class="page-content container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{ word.wordCreateAdminDescr }}</h5>
                        <form :class="($v.$anyError)? 'form-horizontal need validate was-validated' : 'form-horizontal need validation'" v-on:submit.prevent="updatePermission()" novalidate>
                            <div class="card-body" v-if="loading == false">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-show="getInfoSign.updateSignal == generalErrorStatus">
                                    <strong>{{ word.wordGeneralError }}</strong>
                                    <ul>
                                        <li v-bind:key="value.id" v-for="value in getFieldErrorInfo.fieldInfo[this.$root.langValue]">{{ value.message }}</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordName }}</label>
                                    <div class="col-sm-10">
                                        <input v-model="name" type="text" class="form-control" v-bind:placeholder="word.wordNamePlaceholder" />
                                    </div>
                                </div>                           
            
                                <div class="form-group row">                                    
                                    <label for="privileges" class="col-sm-2 col-form-label">{{ word.wordPrivileges }}</label>
                                    <div class="col-sm-10">
                                        <div v-bind:key="privDetail.id" v-for="(privDetail) in privilegesList" class="custom-control custom-checkbox checkbox-primary m-b-20">
                                            <div v-bind:key="value.id" v-for="(value, index) in privDetail.sub">

                                                 <div v-if="index == 0">
                                                    <input type="checkbox" class="custom-control-input" v-bind:id="privDetail.name + '-' + value.name" v-on:click="pickedRootPrivileges(privDetail.name, privDetail.id)" :value="value.id.toString()" v-model="privileges" />
                                                    <label class="custom-control-label" v-bind:for="privDetail.name + '-' + value.name">{{ getPrivilegeName(privDetail.label) }}</label> 
                                                </div>

                                                <div v-if="index != 0" class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" v-bind:id="privDetail.name + '-' + value.name" :value="value.id.toString()" v-model="privileges" v-on:click="pickedChilPrivileges(privDetail.name, value.id)" :disabled="!checkChildPrivileges(privDetail.name, value.id)" /> 
                                                    <label class="custom-control-label" v-bind:for="privDetail.name + '-' + value.name">{{ getPrivilegeName(privDetail.label, value.label) }}</label>  
                                                </div> 

                                                                  
                                                
                                            </div>                                           
                                        </div>                                       
                                    </div>                                     
                                </div>
                            </div>
                            <div class="card-body" v-else>
                                <div class="preloader pl-xxs pls-primary">
                                    <svg class="pl-circular" viewBox="25 25 50 50">
                                        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-footer bg-light">
                                <div class="form-group m-b-0 row">
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary">{{ word.wordButtonSubmit }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {{ predefinePermissionField }}
    </div>
</template>

<script>

import axios from 'axios';
import { required } from 'vuelidate/lib/validators';
import Config from '@/js/config/app.js';

export default{
    data(){
        return {
            name: '',
            privileges: [],
            defaultPrivileges: [],
            checkedRootPrivileges: [],
            generalErrorStatus: Config.generalStatus['error'],
            generalSuccessStatus: Config.generalStatus['success'],
            loading: true,
            permission: {
                name: '',
            }
        }
    },
    computed:{
        word(){
            return {
                wordPageTitle: this.$root.language['admin/admin-permission-edit/pagetitle'],

                wordName: this.$root.language['admin/admin-modules-edit/field/name'],
                wordNamePlaceholder: this.$root.language['admin/admin-modules-edit/field/name/placeholder'],
                wordPrivileges: this.$root.language['admin/admin-modules-edit/field/privileges'],
                wordPrivilegesPlaceholder: this.$root.language['admin/admin-modules-edit/field/privileges/placeholder'],
                
                wordButtonSubmit: this.$root.language['admin/admin-modules-edit/button/submit'],
                wordButtonReset: this.$root.language['admin/admin-modules-edit/button/reset'],

                wordRequireName: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/admin-modules-edit/field/name']),
                wordGeneralError: this.$root.language['system/general/error'],
            }
        },
        privilegesList(){
            let privileges_list = this.$store.state.PermissionModule.privilegesList;
            return privileges_list;
        },
        getInfoSign(){
            return this.$store.state.PermissionModule.infoSignal;
        },
        getFieldErrorInfo(){ 
            let fieldInfo = this.$store.state.PermissionModule.field_error;            
            return { fieldInfo: fieldInfo };
        },
        predefinePermissionField(){            
			let result = (this.$store.state.PermissionModule.isShowingPermissionInfo == '')? '' :  this.$store.state.PermissionModule.isShowingPermissionInfo;
            this.name = (result == '')? '' : result.name;            
            this.privileges = (result == '')? '' : result.privileges; // ["1100","1101","1102"]

            let ap = this.privileges;
            let rootPrivileges = [];
            
            if(ap){
                if(Object.keys(this.$store.state.PermissionModule.privilegesList).length !== 0 && this.$store.state.PermissionModule.privilegesList.constructor === Array){   
                    this.$store.state.PermissionModule.privilegesList.forEach(function(element){
                        if(ap.includes(element.id.toString()) && !rootPrivileges.includes(element.name) ){    
                            rootPrivileges.push(element.name);         
                        }
                    });
                }
            }

            this.checkedRootPrivileges = rootPrivileges; // user-modules
           
            setTimeout( () => {
                this.loading = false;
            }, 375);
        },
        showPrivilegesOption(){
            let result = (this.$store.state.PermissionModule.isShowingPermissionInfo == '')? '' :  this.$store.state.PermissionModule.isShowingPermissionInfo;
            let display = false;
            if(result){
                display = true;
            }
            return display;
        },
    },
    validations: {
        name: {
            required: required,
        },
    },
    methods: {
        getPrivilegesList(){
            const data = {
				admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 1000,
			};
            this.$store.dispatch('PermissionModule/retrivePrivilegesList', data, { root: true });
        },
        getPrivilegeName(privilegesName, action = ''){
            let text = (action == '')? this.$root.language[privilegesName] : this.$root.language[action] + ' ' + this.$root.language[privilegesName];
            return text;
        },
        pickedRootPrivileges(rootPrivileges, id){             
            let curr_privileges = this.privileges;
            
            if(!this.checkedRootPrivileges.includes(rootPrivileges)){
                this.checkedRootPrivileges.push(rootPrivileges);
                let systemPrivileges = this.privilegesList;          
                systemPrivileges.forEach(function (element, index) {                    
                    if(systemPrivileges[index]['name'] == rootPrivileges){
                        curr_privileges = curr_privileges.push(systemPrivileges[index]['id'].toString());
                    }                    
                });
                this.privileges = curr_privileges;
            } else{                
                let systemPrivileges = this.privilegesList;                
                systemPrivileges.forEach(function (element, index) {                    
                    if(systemPrivileges[index]['name'] == rootPrivileges){                    
                        systemPrivileges[index]['sub'].forEach(function (detail){
                            let index = curr_privileges.indexOf(detail['id'].toString());
                            if(index !== -1){
                                curr_privileges.splice(curr_privileges.indexOf(detail['id'].toString()), 1);
                            }
                        });
                    }                    
                });
                this.privileges = curr_privileges;
            }     
        },
        pickedChilPrivileges(rootPrivileges, id){            
            let index = this.privileges.indexOf(id.toString());
            if(index !== -1)
            {
                this.privileges.splice(this.privileges.indexOf(id.toString()), 1);
            } else {
                this.privileges.push(id.toString());   
            }
        },
        checkChildPrivileges(rootPrivileges, id){           
            return this.checkedRootPrivileges.includes(rootPrivileges);            
        }, 
        updatePermission(){
            const data = {
                name: this.name,
                privileges: this.privileges,
                wsid: Config.getWSID() + 3000,
                id: this.$route.params.pid,
            };
            this.$store.dispatch('PermissionModule/updatePermission', data, { root: true });
        },
        retrievePermissionInfo(){
			let data = {
                wsid: Config.getWSID() + 2000,
                id: this.$route.params.pid,
			};
			this.$store.dispatch('PermissionModule/retreivePermissionInfo', data, { root: true });
        },
        clearAllSignal(){
			this.$store.state.PermissionModule.infoSignal.addSignal = '';
			this.$store.state.PermissionModule.infoSignal.updateSignal = '';
		},
    },
    created(){
    	this.getPrivilegesList();
    	this.retrievePermissionInfo();
		this.clearAllSignal();
    },  
}
</script>