<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordPermission }}</h1>
                </div>                
            </div>
        </header>
        <section class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
					<div class="alert alert-success alert-dismissible fade show" role="alert" v-show="getAdminPermissionInfoSignal.addSignal == generalSuccessStatus" >
                        <span>{{ word.wordAddPermissionSucc }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" v-show="getAdminPermissionInfoSignal.updateSignal == generalSuccessStatus" >
                        <span>{{ word.wordUpdatePermissionSucc }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
					<div class="alert alert-success alert-dismissible fade show" role="alert" v-show="getAdminPermissionInfoSignal.deleteSignal == generalSuccessStatus" >
                        <span>{{ word.wordDeletePermissionSucc }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" class="la la-close"></span>
                        </button>
                    </div>
                    <div class="card">
						<h5 class="card-header">{{ word.wordSearch }}</h5>
						<div class="card-body">							
							<!-- Quick Search -->
							<ul class="nav nav-tabs nav-fill">
								<li class="nav-item" role="presentation"><a href="#qsearch-tab" class="nav-link active show" data-toggle="tab" aria-expanded="true">{{ word.wordQuickSearch }}</a></li>
								<li class="nav-item" role="presentation"><a href="#asearch-tab" class="nav-link" data-toggle="tab" aria-expanded="true">{{ word.wordAdvancedSearch }}</a></li>
							</ul>
							<!-- Advanced Search -->
							<div class="tab-content">
								<div class="tab-pane fadeIn active" id="qsearch-tab">
									<form id="qsearch_form" method="post" v-on:submit.prevent="executeQuickSearch()">
										<div class="form-group row">
											<label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">{{ word.wordQuickSearchFieldSearch }}</label>
											<div class="col-sm-10">
												<input type="text" class="form-control form-control-lg" v-bind:placeholder="word.wordQuickSearchFieldSearchPlaceholder" v-model="qsearchValue" />
											</div>		
										</div>										
										<button class="btn btn-primary">{{ word.wordQuickSearchSubmit }}</button>
									</form>							                                
								</div>
								<div class="tab-pane fadeIn" id="asearch-tab">
									<form id="asearch_form" v-on:submit.prevent="executeAdvanceSearch()">
										<div class="form-group row">
											<label for="name" class="col-sm-2 col-form-label col-form-label-lg">{{ word.wordAdvancedSearchFieldName }}</label>
											<div class="col-sm-10">
												<input type="text" class="form-control form-control-lg" v-model="name" v-bind:placeholder="word.wordAdvancedSearchFieldNamePlaceholder" />
											</div>											
										</div>														
										<button class="btn btn-primary">{{ word.wordAdvancedSearchButtonSearch }}</button>
										<button type="button" class="btn btn-secondary clear-form">{{ word.wordAdvancedSearchButtonClear }}</button>
									</form>	
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="col-md-12">
					<div class="card">
						<h5 class="card-header">{{ word.wordAdminModules }}</h5>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-12">									
									<router-link class="btn btn-primary float-right" v-bind:to="{ name: 'admin-permission-insert'}">{{ word.wordButtonAddPermission }}</router-link>	
								</div>
							</div>
							<br />
							<div class="table-responsive" v-if="permissionList != ''">
								<table class="table table-striped">									
									<thead>
										<tr>
											<th>
												{{ word.wordTableFieldID }}
											</th>
											<th>
												{{ word.wordTableFieldName }}
											</th>
											<th>
												{{ word.wordTableFieldPrivileges }}
											</th>
											<th>
												{{ word.wordTableFieldCdate }}
											</th>
											<th>
												{{ word.wordTableFieldUdate }}
											</th>
											<th>{{ word.wordTableFieldAction }}</th>
										</tr>
									</thead>
									<!-- v-if="adminList != '' -->
									<tbody>
										<tr v-for="info in permissionList" v-bind:key="info.id">
											<td>{{ info.id }}</td>
											<td>{{ info.name }}</td>
											<td>{{ filterPrivileges(info.privileges) }}</td>
											<td>{{ info.updated_at }}</td>
											<td>{{ info.created_at }}</td>
											<td>
												<router-link class="btn btn-info btn-sm" v-show="hasPermission('admin-permission-view')" v-bind:to="{ name: 'admin-permission-view', params: {pid: info.id} }">{{ word.wordView }}</router-link>&nbsp;
												<router-link class="btn btn-warning btn-sm" v-show="hasPermission('admin-permission-edit')" v-bind:to="{ name: 'admin-permission-edit', params: {pid: info.id} }">{{ word.wordEdit }}</router-link>&nbsp;
												<button v-show="hasPermission('admin-permission-delete')" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal" v-on:click="deleteId=info.id">{{ word.wordDelete }}</button>
											</td>
										</tr>
									</tbody>
								</table>								
							</div>
							<div v-else class="preloader pl-xxs pls-primary" style="left: 50%;">
								<svg class="pl-circular" viewBox="25 25 50 50">
									<circle class="plc-path" cx="50" cy="50" r="20"></circle>
								</svg>
							</div>
							<div class="row float-left">
								<div class="col-sm-12">
									<span v-if="permissionList != ''">{{ recordMessage() }}</span>
									<span v-if="getAdminPermissionInfoSignal.quickSearchSignal == true || getAdminPermissionInfoSignal.advanceSearchSignal == true"> {{ word.wordClearSearch }} <a href='' v-on:click.prevent="clearSearch()">{{ word.wordHere }}</a></span>
								</div>
							</div>					
							<div class="row float-right">
								<ul class="pagination" v-if="generatePagination() != ''">
									<li class="paginate_button page-item previous" id="bs4-table_previous">
										<a @click.prevent="switchPage(generatePagination().prev_page_url)" aria-controls="bs4-table" tabindex="0" v-bind:class="[generatePagination().prev_page_url == null? 'page-link disabled' : 'page-link']">{{ word.wordPrevPage }}</a>
									</li>
									<li v-bind:key=i v-for="i in generatePagination().last_page" v-bind:class="[i==generatePagination().current_page? 'paginate_button page-item active' : 'paginate_button page-item']">
										<a aria-controls="bs4-table" tabindex="0" class="page-link" @click.prevent="switchPage(generatePagination().path + '?page=' + i)">{{ i }}</a>
									</li>
									<li class="paginate_button page-item next" id="bs4-table_next">
										<a @click.prevent="switchPage(generatePagination().next_page_url)" aria-controls="bs4-table" tabindex="0" v-bind:class="[generatePagination().next_page_url == null? 'page-link disabled' : 'page-link']">{{ word.wordNextPage }}</a>
									</li>
								</ul>
								<ul v-else>
								</ul>
							</div>		
						</div>
					</div>
				</div>
            </div>
        </section>
    	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel9">{{ word.wordDelete }}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" class="zmdi zmdi-close"></span>
						</button>
					</div>
					<div class="modal-body">
						<p>{{ word.wordDeleteMessage }}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-outline" data-dismiss="modal">{{ word.wordClose }}</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal" v-on:click="executeDelete()">{{ word.wordYes }}</button>
					</div>
				</div>
			</div>
		</div>
    </div>
</template>

<script>
import Config from '@/js/config/app.js';
import Lang from '@/js/lang/en.js';

export default {
	data(){
		return {
            qsearchValue: '',
            name: '',
			generalSuccessStatus: Config.generalStatus['success'],
			deleteId: '',
		}
	},
    computed: {
		word(){
			return{
                wordPermission: this.$root.language['admin/permission/pagetitle'],
                wordTableFieldID: this.$root.language['admin/permission/table-field/id'],
                wordTableFieldName: this.$root.language['admin/permission/table-field/name'],
                wordTableFieldPrivileges: this.$root.language['admin/permission/table-field/privileges'],
                wordTableFieldCdate: this.$root.language['admin/permission/table-field/cdate'],
                wordTableFieldUdate: this.$root.language['admin/permission/table-field/udate'],
                wordTableFieldAction: this.$root.language['admin/permission/table-field/action'],
                wordButtonAddPermission: this.$root.language['admin/permission/button/add-permission'],
				wordAddPermissionSucc: this.$root.language['admin/permission-create/success/message'],
				wordUpdatePermissionSucc: this.$root.language['admin/admin-permission-edit/success/message'],
				wordDeletePermissionSucc: this.$root.language['admin/permission/delete/success/message'],

                wordQuickSearch: this.$root.language['admin/permission/qsearch'],
				wordQuickSearchFieldSearch: this.$root.language['admin/permission/qsearch/field/search'],
				wordQuickSearchFieldSearchPlaceholder: this.$root.language['admin/permission/qsearch/field/search/placeholder'],
                wordQuickSearchSubmit: this.$root.language['admin/permission/qsearch/button/submit'],
                
                wordAdvancedSearch: this.$root.language['admin/permission/asearch'],
                wordAdvancedSearchFieldName: this.$root.language['admin/permission/asearch/field/name'],                
				wordAdvancedSearchButtonSearch: this.$root.language['admin/permission/asearch/button/search'],
				wordAdvancedSearchButtonClear: this.$root.language['admin/permission/asearch/button/clear'],

				wordPrevPage: this.$root.language['system/button/prev-page'],
				wordNextPage: this.$root.language['system/button/next-page'],
				wordClose: this.$root.language['system/button/close'],
				wordYes: this.$root.language['system/button/yes'],

				wordView: this.$root.language['admin/privileges/label/view'],
				wordEdit: this.$root.language['admin/privileges/label/edit'],
				wordClearSearch: this.$root.language['admin/permission/asearch/button/clear'],
				wordHere: this.$root.language['admin/admin-modules/here'],
				wordDeleteMessage: this.$root.language['admin/permission/delete/message'],
				wordDelete: this.$root.language['admin/privileges/label/delete'],
            }
		},
		permissionList(){
			let searchResult = this.$store.state.PermissionModule.searchResult;
			return (searchResult)? searchResult['data'] : '';
		},
		privilegesList(){
			let result = this.$store.state.PermissionModule.privilegesList;
			return (result)? result : '';
		},
		paginationInfo(){
			return this.$store.state.PermissionModule.searchResult;
		},
		getAdminPermissionInfoSignal(){
			return this.$store.state.PermissionModule.infoSignal;
		},
		all_privilegesList(){
			return this.$store.getters.privilegesList;
		},
		AdminPermission(){
			return this.$store.getters.permission; 
		},
	},
	methods:{
		retrievePermissionList(){
			const data = {
				admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 1000,
			};
			this.$store.dispatch('PermissionModule/retrivePermissionList', data, { root: true });
		},
		retrivePrivilegesList(){
			const data = {				
                wsid: Config.getWSID() + 2000,
			};
			this.$store.dispatch('PermissionModule/retrivePrivilegesList', data, { root: true });
		},
		filterPrivileges(info){
			let p_arr = JSON.parse(info);
			let text = '';
			let list = this.privilegesList;

			if(p_arr != "" && p_arr != null){
				p_arr.forEach(function(value, index) {
					if(list != ''){
						list.forEach(function (detail){
							detail['sub'].forEach(function (subDetail){
								if(value == subDetail['id']){
									let cName = detail['name'].replace('-', ' ');
									text += cName + ' ' + subDetail['name'] + ',';
								}
							});
						});
					}
				});
			}
			
			text = text.slice(0, -1);

			return text;
		},
		hasPrivileges(action = 'view'){
			let result = false;
			let privilegesList = this.$store.state.PermissionModule.adminPrivilegesList;
			let adminPrivileges = this.$store.getters.adminInfo.privileges;

			if(this.$store.getters.adminInfo.dev || this.$store.getters.adminInfo.master){
				result = true;
			} else if(this.$store.getters.adminInfo.privileges != ""){
				if(privilegesList != '' && privilegesList != undefined){
					privilegesList.forEach(function (element, index){
						if(element.name == "admin-module"){
							privilegesList[index]['sub'].forEach(function (element, key){
								if(privilegesList[index]['sub'][key]['name'] == action){
									if(adminPrivileges.includes(privilegesList[index]['sub'][key]['id'])){
										result = true;							
										return;	
									}
								}
							});
						}
						if(element.name == "user-module"){
							privilegesList[index]['sub'].forEach(function (element, key){
								if(privilegesList[index]['sub'][key]['name'] == action){
									if(adminPrivileges.includes(privilegesList[index]['sub'][key]['id'])){
										result = true;							
										return;	
									}
								}
							});
						}
					});
				}
			} else {
				//console.log('error get action...');
			}
			
			return result;
		},
		executeQuickSearch(){
			const data = {
                wsid: Config.getWSID() + 2500,
                qsearch: this.qsearchValue,
				searchType: Config.infoSearchType['quick'],
				admin_uid: this.$store.getters.adminInfo.uid,
			};		
			this.$store.dispatch('PermissionModule/executeQuickSearch', data, { root: true });
		},
		executeAdvanceSearch(){
			let aData = {
				name : this.name ,
				searchType: Config.infoSearchType['advance'],
				wsid: Config.getWSID() + 2200,
				admin_uid: this.$store.getters.adminInfo.uid,
			};
			this.$store.dispatch('PermissionModule/executeAdvanceSearch', aData, { root: true });
		},
		recordMessage(){
			let msg = this.$root.language['admin/admin-modules/record/message'];	
			let from = (typeof this.paginationInfo.from == "number")? this.paginationInfo.from : 0;
			let to = (typeof this.paginationInfo.to == "number")? this.paginationInfo.to : 0;
			let total = (typeof this.paginationInfo.total == "number")? this.paginationInfo.total : 0;
			
			msg = msg.replace('{from}', from);
			msg = msg.replace('{to}', to);
			msg = msg.replace('{record}', total);
			return msg;
		},
		clearSearch(){
			this.qsearchValue = '';
			this.name = '';
			this.email = '';
			this.mobile = '';
			this.status = [];
			this.$store.state.PermissionModule.infoSignal.quickSearchSignal = '';
			this.$store.state.PermissionModule.infoSignal.advanceSearchSignal = '';
			this.retrievePermissionList();
		},
		generatePagination(){
			let pagination = '';
			if(this.paginationInfo != "" && this.permissionList != ""){
				pagination = Config.generatePagination(this.paginationInfo.current_page, this.paginationInfo.prev_page_url, this.paginationInfo.first_page_url, 1, this.paginationInfo.last_page, this.paginationInfo.last_page_url, this.paginationInfo.next_page_url, this.paginationInfo.path);
			}
			return pagination;
		},
		switchPage(url){
			let data = {
                admin_uid: this.$store.getters.adminInfo.uid,
                wsid: Config.getWSID() + 2300,
                url: url,
			};	
			if(data.url != null){
				this.$store.dispatch('PermissionModule/switchPage', data, { root: true });
			}
			return;
		},
		executeDelete(){
			console.log(this.deleteId);
			const data = {
				wsid: Config.getWSID() + 2600,
				id: this.deleteId
			};
			this.$store.dispatch('PermissionModule/deletePermission', data, { root: true });
			this.retrievePermissionList();
		},
		hasPermission(privilegesName){
			let admin_info = localStorage.getItem('adminInfo');
			admin_info = JSON.parse(admin_info);
			if(admin_info.master == 1){
				return true;
			}				
			let name = privilegesName;
			let result = false;
			if(this.all_privilegesList != null && this.AdminPermission != null){
				let routeCode = this.all_privilegesList[name];
				let n =  this.AdminPermission.indexOf(routeCode);
				if(n != "-1"){
					result = true;
				}
			}
			return result;
		},
	},
	mounted(){
		this.retrievePermissionList();
		this.retrivePrivilegesList();
		this.$store.state.ProfileModules.updateInfoSignal.updateProfileSignal = '';
        this.$store.state.ProfileModules.updateInfoSignal.updatePasswordSignal = '';
	}
}
</script>