<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordPageTitle }}</h1>
                </div>                
            </div>
        </header>
        <section class="page-content container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{ word.wordCreateUserDescr }}</h5>
                        <form :class="($v.$anyError)? 'form-horizontal need validate was-validated' : 'form-horizontal need validation'" v-on:submit.prevent="insertUser()" novalidate>
                            <div class="card-body">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-show="getInfoSign.addSignal == generalErrorStatus">
                                    <strong>{{ word.wordGeneralError }}</strong>
                                    <ul>
                                        <li v-bind:key="value.id" v-for="value in getFieldErrorInfo.fieldInfo[this.$root.langValue]">{{ value.message }}</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordName }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" v-bind:placeholder="word.wordNamePlaceholder" v-model="name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordEmail }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="email" v-bind:placeholder="word.wordEmailPlaceholder" v-model="email">
                                    </div>
                                </div>

                                 <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordPassword }}</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="password" v-bind:placeholder="word.wordPasswordPlaceholder" v-model="password">
                                    </div>
                                </div>                   
                                
                            </div>
                            <div class="card-footer bg-light">
                                <div class="form-group m-b-0 row">
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary">{{ word.wordButtonSubmit }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

import { required } from 'vuelidate/lib/validators';
import axios from 'axios';
import Config from '@/js/config/app.js';

export default {
    data(){
        return {
            name: '',
            email: '',
            password: '',
            status: '',
            generalErrorStatus: Config.generalStatus['error'],
            generalSuccessStatus: Config.generalStatus['success'],
        }
    },
    validations: {
        name: {
            required: required,
        },
        password: {
            required: required,
        },
        email: {
            required: required,
        },
    },
    computed: {
        word() {
            return {
                wordPageTitle: this.$root.language['admin/user-modules-create/pagetitle'],
                wordCreateUserDescr: this.$root.language['admin/user-modules-create/descr'],
                
                wordName: this.$root.language['admin/user-modules-create/field/name'],
                wordNamePlaceholder: this.$root.language['admin/user-modules-create/field/name/placeholder'],
                wordEmail: this.$root.language['admin/user-modules-create/field/email'],
                wordEmailPlaceholder: this.$root.language['admin/user-modules-create/field/email/placeholder'],
                wordPassword: this.$root.language['admin/user-modules-create/field/password'],
                wordPasswordPlaceholder: this.$root.language['admin/user-modules-create/field/password/placeholder'],
                wordStatus: this.$root.language['admin/user-modules-create/field/status'],
                wordStatusPlaceholder: this.$root.language['admin/user-modules-create/field/status/placeholder'],

                wordButtonSubmit: this.$root.language['admin/user-modules-create/button/submit'],
                wordButtonReset: this.$root.language['admin/user-modules-create/button/reset'],

                wordRequireName: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/user-modules-create/field/name']),
                wordRequirePermission: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/user-modules-create/field/permission_id']),
                wordGeneralError: this.$root.language['system/general/error'],
            }
        },
        getInfoSign(){
            return this.$store.state.UserModule.infoSignal;
        },
        getFieldErrorInfo(){ 
            let fieldInfo = this.$store.state.UserModule.field_error;            
            return { fieldInfo: fieldInfo };
        },
        getStatusList(){
			let result = (this.$store.state.UserModule.statusList == '')? '' :  this.$store.state.UserModule.statusList;
			return result;			
		},
    },
    methods: {
        insertUser(){
            const data = {
                name: this.name,
                email: this.email,
                password: this.password,
                wsid: Config.getWSID() + 1500,
            };
            
            this.$store.dispatch('UserModule/insertUser', data, { root: true });
        },
        retrieveStatusList(){
			let data = {
                wsid: Config.getWSID() + 2000,
			};
			this.$store.dispatch('UserModule/getStatusList', data, { root: true });
		},
    },
    created(){
		this.retrieveStatusList();
	},
    
}
</script>