<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordUserModuleDetail }}</h1>
                </div>                
            </div>
        </header>
        <section class="page-content container-fluid">
			<div class="row">			
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">{{ word.wordUserModuleDetail }}</h5>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-borderless">									
									<tbody>
										<tr>
											<th>{{ word.wordTableFieldID }}</th>
											<td>{{ userInfo.id }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldName }}</th>
											<td>{{ userInfo.name }}</td>
										</tr>   
                                        <tr>
											<th>{{ word.wordTableFieldEmail }}</th>
											<td>{{ userInfo.email }}</td>
										</tr> 
										<tr>
											<th>{{ word.wordTableFieldStatus }}</th>
											<td>{{ getStatusName(userInfo.status) }}</td>
										</tr>                                       	
										<tr>
											<th>{{ word.wordTableFieldCdate }}</th>
											<td>{{ userInfo.created_at }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldUdate }}</th>
											<td>{{ userInfo.updated_at }}</td>
										</tr>											
									
									</tbody>
								</table>								
							</div>					
						</div>
					</div>
				</div>
			</div>
		</section>
    </div>
</template>

<script>

import Config from '@/js/config/app.js';

export default {
    computed: {
        word(){
			return {
				wordUserModuleDetail: this.$root.language['admin/user-modules-detail/pagetitle'],
				wordTableFieldID: this.$root.language['admin/user-modules-detail/field/id'],
				wordTableFieldName: this.$root.language['admin/user-modules-detail/field/name'],
				wordTableFieldEmail: this.$root.language['admin/user-modules-detail/field/email'],
				wordTableFieldStatus: this.$root.language['admin/user-modules-detail/field/status'],
				wordTableFieldUdate: this.$root.language['admin/user-modules-detail/field/udate'],
				wordTableFieldCdate: this.$root.language['admin/user-modules-detail/field/cdate'],
			}
        },
        userInfo(){
			let result = (this.$store.state.UserModule.isShowingUserInfo == '')? '' :  this.$store.state.UserModule.isShowingUserInfo;
			return result;
		},
		statusList(){
			let result = (this.$store.state.UserModule.statusList == '')? '' :  this.$store.state.UserModule.statusList;
			return result;			
		}
    },
    methods: {
        retrieveUserList(){
			let data = {
                wsid: Config.getWSID() + 1000,
                id: this.$route.params.uid,
			};
			this.$store.dispatch('UserModule/retreiveUserInfo', data, { root: true });
		},
		retrieveStatusList(){
			let data = {
                wsid: Config.getWSID() + 2000,
			};
			this.$store.dispatch('UserModule/getStatusList', data, { root: true });
		},
		getStatusName(code){
			let result = this.statusList[code];
			let text = '';
			if(result!=undefined){
				text = result.charAt(0).toUpperCase() + result.slice(1);
			}
			return text;
		},
		clearAllSignal(){
			this.$store.state.UserModule.infoSignal.addSignal = '';
			this.$store.state.UserModule.infoSignal.updateSignal = '';
		},
    },
	created(){
		this.retrieveUserList();
		this.clearAllSignal();
	},
	mounted(){		
		this.retrieveStatusList();
	}
    
}
</script>