<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordPageTitle }}</h1>
                </div>                
            </div>
        </header>
         <section class="page-content container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{ word.wordEditAdminDescr }}</h5>
                        <form :class="($v.$anyError)? 'form-horizontal need validate was-validated' : 'form-horizontal need validation'" v-on:submit.prevent="updateUser()" novalidate>
                            <div class="card-body" v-if="loading == false">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-show="getInfoSign.updateSignal == generalErrorStatus">
                                    <strong>{{ word.wordGeneralError }}</strong>
                                    <ul>
                                        <li v-bind:key="value.id" v-for="value in getFieldErrorInfo.fieldInfo[this.$root.langValue]">{{ value.message }}</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordName }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" value="name" v-bind:placeholder="word.wordNamePlaceholder" v-model="name" >
                                    </div>
                                </div>                           
                                
                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordEmail }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="email" value="email" v-bind:placeholder="word.wordEmailPlaceholder" v-model="email" >
                                    </div>
                                </div>   

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordPassword }}</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="password" value="password" v-bind:placeholder="word.wordPasswordPlaceholder" v-model="password" >
                                    </div>
                                </div>               
                                
                            </div>
                            <div class="card-body" v-else>
                                <div class="preloader pl-xxs pls-primary">
                                    <svg class="pl-circular" viewBox="25 25 50 50">
                                        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-footer bg-light">
                                <div class="form-group m-b-0 row">
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary">{{ word.wordButtonSubmit }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {{ predefineField }}
    </div>
</template>

<script>

import axios from 'axios';
import { required } from 'vuelidate/lib/validators';
import Config from '@/js/config/app.js';

export default{
    data(){
        return {
            name: '',
            email: '',
            password: '',
            generalErrorStatus: Config.generalStatus['error'],
            generalSuccessStatus: Config.generalStatus['success'],
            loading: true,
        }
    },
    computed:{
        word(){
            return {
                wordPageTitle: this.$root.language['admin/user-modules-edit/pagetitle'],
                wordEditAdminDescr:this.$root.language['admin/user-modules-edit/descr'],

                wordName: this.$root.language['admin/user-modules-edit/field/name'],
                wordNamePlaceholder: this.$root.language['admin/user-modules-edit/field/name/placeholder'],
                wordEmail: this.$root.language['admin/user-modules-edit/field/email'],
                wordEmailPlaceholder: this.$root.language['admin/user-modules-edit/field/email/placeholder'],
                wordPassword: this.$root.language['admin/user-modules-edit/field/password'],
                wordPasswordPlaceholder: this.$root.language['admin/user-modules-edit/field/password/placeholder'],
                
                wordButtonSubmit: this.$root.language['admin/user-modules-edit/button/submit'],
                wordButtonReset: this.$root.language['admin/user-modules-edit/button/reset'],

                wordRequireName: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/user-modules-edit/field/name']),
                wordGeneralError: this.$root.language['system/general/error'],
            }
        },
        getInfoSign(){
            return this.$store.state.UserModule.infoSignal;
        },
        getFieldErrorInfo(){ 
            let fieldInfo = this.$store.state.UserModule.field_error;            
            return { fieldInfo: fieldInfo };
        },
        predefineField(){            
			let result = (this.$store.state.UserModule.isShowingUserInfo == '')? '' :  this.$store.state.UserModule.isShowingUserInfo;
            this.name = (result == '')? '' : result.name;            
            this.email = (result == '')? '' : result.email;
            this.password = '';

            setTimeout( () => {
                this.loading = false;
            }, 375);
        },
    },
    validations: {
        name: {
            required: required,
        },
        email: {
            required: required,
        },
        password: {
            required: required,
        }
    },
    methods: {
        updateUser(){
            const data = {
                name: this.name,
                email: this.email,
                password: this.password,
                wsid: Config.getWSID() + 3000,
                id: this.$route.params.uid,
            };
            
            this.$store.dispatch('UserModule/updateUser', data, { root: true });
        },
        retreiveUserInfo(){
			let data = {
                wsid: Config.getWSID() + 2000,
                id: this.$route.params.uid,
			};
			this.$store.dispatch('UserModule/retreiveUserInfo', data, { root: true });
        },
        clearAllSignal(){
			this.$store.state.UserModule.infoSignal.addSignal = '';
			this.$store.state.UserModule.infoSignal.updateSignal = '';
		},
    },
    created(){
    	this.retreiveUserInfo();
		this.clearAllSignal();
    },  
}
</script>