<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordPageTitle }}</h1>
                </div>                
            </div>
        </header>
        <section class="page-content container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{ word.wordCreateAdminDescr }}</h5>
                        <form :class="($v.$anyError)? 'form-horizontal need validate was-validated' : 'form-horizontal need validation'" v-on:submit.prevent="insertRole()" novalidate>
                            <div class="card-body">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-show="getInfoSign.addSignal == generalErrorStatus">
                                    <strong>{{ word.wordGeneralError }}</strong>
                                    <ul>
                                        <li v-bind:key="value.id" v-for="value in getFieldErrorInfo.fieldInfo[this.$root.langValue]">{{ value.message }}</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordName }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" v-bind:placeholder="word.wordNamePlaceholder" v-model="name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordPermission }}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="permission_id" v-model="permission_id">
                                            <option v-for="detail in permissionList" v-bind:value="detail.id" v-bind:key="detail.id">{{ detail.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-footer bg-light">
                                <div class="form-group m-b-0 row">
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary">{{ word.wordButtonSubmit }}</button>
                                        <button class="btn btn-secondary clear-form">{{ word.wordButtonReset }} </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

import { required } from 'vuelidate/lib/validators';
import axios from 'axios';
import Config from '@/js/config/app.js';

export default {
    data(){
        return {
            name: '',
            permission_id: '',
            generalErrorStatus: Config.generalStatus['error'],
            generalSuccessStatus: Config.generalStatus['success'],
        }
    },
    validations: {
        name: {
            required: required,
        },
    },
    computed: {
        word() {
            return {
                wordPageTitle: this.$root.language['admin/admin-role-create/pagetitle'],
                wordCreateAdminDescr: this.$root.language['admin/admin-role-create/descr'],
                
                wordName: this.$root.language['admin/admin-role-create/field/name'],
                wordNamePlaceholder: this.$root.language['admin/admin-role-create/field/name/placeholder'],
                wordPermission: this.$root.language['admin/admin-role-create/field/permission_id'],
                wordPermissionPlaceholder: this.$root.language['admin/admin-role-create/field/permission_id/placeholder'],
                
                wordButtonSubmit: this.$root.language['admin/admin-role-create/button/submit'],
                wordButtonReset: this.$root.language['admin/admin-role-create/button/reset'],

                wordRequireName: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/admin-role-create/field/name']),
                wordRequirePermission: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/admin-role-create/field/permission_id']),
                wordGeneralError: this.$root.language['system/general/error'],
            }
        },
        getInfoSign(){
            return this.$store.state.RoleModule.infoSignal;
        },
        getFieldErrorInfo(){ 
            let fieldInfo = this.$store.state.RoleModule.field_error;            
            return { fieldInfo: fieldInfo };
        },
        permissionList(){
            return this.$store.state.RoleModule.permissionList;
        },
    },
    methods: {
        getPermissionList(){
            const data = {
                wsid: Config.getWSID() + 1000,
			};
            this.$store.dispatch('RoleModule/retrivePermissionList', data, { root: true });
        },
        insertRole(){
            const data = {
                name: this.name,
                permission_id: this.permission_id,
                wsid: Config.getWSID() + 1500,
            };
            
            this.$store.dispatch('RoleModule/insertRole', data, { root: true });
        },
    },
    mounted(){
		this.getPermissionList();
	},
}
</script>