<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordAdminRoleDetail }}</h1>
                </div>                
            </div>
        </header>
        <section class="page-content container-fluid">
			<div class="row">			
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">{{ word.wordAdminRoleDetail }}</h5>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-borderless">									
									<tbody>
										<tr>
											<th>{{ word.wordTableFieldID }}</th>
											<td>{{ roleInfo.id }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldName }}</th>
											<td>{{ roleInfo.name }}</td>
										</tr>   
                                        <tr>
											<th>{{ word.wordTableFieldPermission }}</th>
											<td>{{ getPermissionName(roleInfo.permission_id) }}</td>
										</tr>                                      	
										<tr>
											<th>{{ word.wordTableFieldCdate }}</th>
											<td>{{ roleInfo.created_at }}</td>
										</tr>	
										<tr>
											<th>{{ word.wordTableFieldUdate }}</th>
											<td>{{ roleInfo.updated_at }}</td>
										</tr>											
									
									</tbody>
								</table>								
							</div>					
						</div>
					</div>
				</div>
			</div>
		</section>
    </div>
</template>

<script>

import Config from '@/js/config/app.js';

export default {
    computed: {
        word(){
			return {
				wordAdminRoleDetail: this.$root.language['admin/admin-role-detail/pagetitle'],
				wordTableFieldID: this.$root.language['admin/admin-role-detail/field/id'],
				wordTableFieldName: this.$root.language['admin/admin-role-detail/field/name'],
				wordTableFieldPermission: this.$root.language['admin/admin-role-detail/field/permission_id'],
				wordTableFieldUdate: this.$root.language['admin/admin-role-detail/field/udate'],
				wordTableFieldCdate: this.$root.language['admin/admin-role-detail/field/cdate'],
			}
        },
        roleInfo(){
			let result = (this.$store.state.RoleModule.isShowingRoleInfo == '')? '' :  this.$store.state.RoleModule.isShowingRoleInfo;
			return result;
        },
        permissionList(){
			return this.$store.state.RoleModule.permissionList;
        },
    },
    methods: {
        retrieveRoleList(){
			let data = {
                wsid: Config.getWSID() + 1000,
                id: this.$route.params.rid,
			};
			this.$store.dispatch('RoleModule/retreiveRoleInfo', data, { root: true });
        },
        retreivePermissionList(){
			let data = {
				wsid: Config.getWSID() + 2000,
			};
			this.$store.dispatch('RoleModule/retrivePermissionList', data, { root: true });
        },
        getPermissionName(id){
            let result = "";
            if(this.permissionList != ""){
                this.permissionList.forEach(function (value, index){
                    if(value.id == id){
                        result = value.name;
                    }
                });
            }
            return result;
		},
		clearAllSignal(){
			this.$store.state.RoleModule.infoSignal.addSignal = '';
			this.$store.state.RoleModule.infoSignal.updateSignal = '';
		},
    },
    mounted(){
		this.retreivePermissionList();
		this.clearAllSignal();
	},
	created(){
		this.retrieveRoleList();
	}
    
}
</script>