<template>
    <div class="content">
        <header class="page-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h1>{{ word.wordPageTitle }}</h1>
                </div>                
            </div>
        </header>
         <section class="page-content container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">{{ word.wordCreateAdminDescr }}</h5>
                        <form :class="($v.$anyError)? 'form-horizontal need validate was-validated' : 'form-horizontal need validation'" v-on:submit.prevent="updateRole()" novalidate>
                            <div class="card-body" v-if="loading == false">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" v-show="getInfoSign.updateSignal == generalErrorStatus">
                                    <strong>{{ word.wordGeneralError }}</strong>
                                    <ul>
                                        <li v-bind:key="value.id" v-for="value in getFieldErrorInfo.fieldInfo[this.$root.langValue]">{{ value.message }}</li>
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="la la-close"></span>
                                    </button>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordName }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" value="name" v-bind:placeholder="word.wordNamePlaceholder" v-model="name" >
                                    </div>
                                </div>                           
                                
                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">{{ word.wordPermission }}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" v-model="permission_id" id="permission_id">
                                            <option v-for="detail in permissionList" v-bind:value="detail.id" v-bind:key="detail.id">{{ detail.name }}</option>
                                        </select>
                                    </div>
                                </div>                
                                
                            </div>
                            <div class="card-body" v-else>
                                <div class="preloader pl-xxs pls-primary">
                                    <svg class="pl-circular" viewBox="25 25 50 50">
                                        <circle class="plc-path" cx="50" cy="50" r="20"></circle>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-footer bg-light">
                                <div class="form-group m-b-0 row">
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary">{{ word.wordButtonSubmit }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {{ predefinePermissionField }}
    </div>
</template>

<script>

import axios from 'axios';
import { required } from 'vuelidate/lib/validators';
import Config from '@/js/config/app.js';

export default{
    data(){
        return {
            name: '',
            permission_id: [],
            generalErrorStatus: Config.generalStatus['error'],
            generalSuccessStatus: Config.generalStatus['success'],
            loading: true,
        }
    },
    computed:{
        word(){
            return {
                wordPageTitle: this.$root.language['admin/admin-role-edit/pagetitle'],

                wordName: this.$root.language['admin/admin-role-edit/field/name'],
                wordNamePlaceholder: this.$root.language['admin/admin-role-edit/field/name/placeholder'],
                wordPermission: this.$root.language['admin/admin-role-edit/field/permission_id'],
                wordPermissionPlaceholder: this.$root.language['admin/admin-role-edit/field/permission_id/placeholder'],
                
                wordButtonSubmit: this.$root.language['admin/admin-role-edit/button/submit'],
                wordButtonReset: this.$root.language['admin/admin-role-edit/button/reset'],

                wordRequireName: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['admin/admin-role-edit/field/name']),
                wordGeneralError: this.$root.language['system/general/error'],
            }
        },
        permissionList(){
            let permission_list = this.$store.state.RoleModule.permissionList;
            return permission_list;
        },
        getInfoSign(){
            return this.$store.state.RoleModule.infoSignal;
        },
        getFieldErrorInfo(){ 
            let fieldInfo = this.$store.state.RoleModule.field_error;            
            return { fieldInfo: fieldInfo };
        },
        predefinePermissionField(){            
			let result = (this.$store.state.RoleModule.isShowingRoleInfo == '')? '' :  this.$store.state.RoleModule.isShowingRoleInfo;
            this.name = (result == '')? '' : result.name;            
            this.permission_id = (result == '')? '' : result.permission_id;

            setTimeout( () => {
                this.loading = false;
            }, 375);
        },
    },
    validations: {
        name: {
            required: required,
        },
        permission_id: {
            required: required,
        },
    },
    methods: {
        getPermissionList(){
            const data = {
                wsid: Config.getWSID() + 1000,
			};
            this.$store.dispatch('RoleModule/retrivePermissionList', data, { root: true });
        },
        getPrivilegeName(privilegesName, action = ''){
            let text = (action == '')? this.$root.language[privilegesName] : this.$root.language[action] + ' ' + this.$root.language[privilegesName];
            return text;
        },
        updateRole(){
            const data = {
                name: this.name,
                permission_id: this.permission_id,
                wsid: Config.getWSID() + 3000,
                id: this.$route.params.rid,
            };
            
            this.$store.dispatch('RoleModule/updateRole', data, { root: true });
        },
        retreiveRoleInfo(){
			let data = {
                wsid: Config.getWSID() + 2000,
                id: this.$route.params.rid,
			};
			this.$store.dispatch('RoleModule/retreiveRoleInfo', data, { root: true });
        },
       	clearAllSignal(){
			this.$store.state.RoleModule.infoSignal.addSignal = '';
			this.$store.state.RoleModule.infoSignal.updateSignal = '';
		},     
    },
    created(){
    	this.getPermissionList();
        this.retreiveRoleInfo();
		this.clearAllSignal();        
    },  
}
</script>