<template>
    <div id="app" v-if="pageNotFound">
        <notFound-component></notFound-component>
    </div>
    <div id="app" v-else-if="!isLoggedIn" class="container">
        <login-component></login-component>            
    </div>
    <div id="app" v-else-if="checkPermission() == false">
        <anavigation></anavigation>
        <div class="content-wrapper">
            <aheader></aheader>
            <no-privileges></no-privileges>
        </div>
    </div>
    <div id="app" v-else>
        <anavigation></anavigation>
        <div class="content-wrapper">
            <aheader></aheader>
            <router-view></router-view>
        </div>        
    </div>
</template>

<script>
    import Login from '@/js/components/admin/Login';
    import NotFound from '@/js/components/admin/NotFound';
    import Header from '@/js/components/admin/Header';
    import Navigation from '@/js/components/admin/Navigation';
    import NoPrivileges from '@/js/components/admin/NoPrivileges';

    export default {
        data(){
            return {
                pageNotFound: this.$root.pageNotFound,
            }
        },
        name: 'app', 
        components: {
            'login-component': Login,
            'notFound-component': NotFound,
            'aheader': Header,
            'anavigation': Navigation,
            'no-privileges': NoPrivileges,
        },
        created(){
            this.$store.dispatch('tryAutoLogin');
        },
        mounted(){
            this.$store.dispatch('getPrivliegesList');
            this.$store.dispatch('getAdminPermission');
            this.$store.dispatch('adminPrivileges');
        },
        computed: {
            isLoggedIn () {
                return this.$store.getters.isAuthenticated;
            },
            hasPrivileges() {
                return this.$store.getters.noPrivileges;
            },
            privilegesList(){
                return this.$store.getters.privilegesList;
            },
            AdminPermission(){
               return this.$store.getters.permission; 
            },
        }, 
        methods: {
            checkPermission(){
                let admin_info = localStorage.getItem('adminInfo');
                admin_info = JSON.parse(admin_info);
                if(admin_info.master == 1){
                    return true;
                }

                let routeName = this.$route.name;
                let result = false;
                
                if(this.privilegesList != null && this.AdminPermission != null && this.$route.meta.excludePrivileges == false){
                    let routeCode = this.privilegesList[routeName];
                    let n =  this.AdminPermission.indexOf(routeCode);
                    if(n != "-1"){
                        result = true;
                    }
                }
                if( this.$route.meta.excludePrivileges == true){
                    return true;
                }
                return result;
            }  
        },
    }
</script>