<template>
    <div id="app" v-if="pageNotFound">
        <notFound-component></notFound-component>
    </div>
    <div id="app" v-else-if="!isLoggedIn" class="container">
        <login-component></login-component>            
    </div>
    <div id="app" v-else>
        <anavigation></anavigation>
        <div class="content-wrapper">
            <aheader></aheader>
            <router-view></router-view>
        </div>        
    </div>
</template>

<script>
    import Login from '@/js/components/member/Login';
    import NotFound from '@/js/components/member/NotFound';
    import Header from '@/js/components/member/Header';
    import Navigation from '@/js/components/member/Navigation';

    export default {
        data(){
            return {
                pageNotFound: this.$root.pageNotFound,
            }
        },
        name: 'app', 
        components: {
            'login-component': Login,
            'notFound-component': NotFound,
            'aheader': Header,
            'anavigation': Navigation,
        },
        created(){
            this.$store.dispatch('tryAutoLogin');
        },
        computed: {
            isLoggedIn () {
                return this.$store.getters.isAuthenticated;
            },
        }, 
    }
</script>