<template>
    <div class="content">
        <header class="page-header">
            <h5>{{ word.wordApp }}</h5>
        </header>
        <div class="page-content container-fluid">
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        word(){
            return {
                wordApp: this.$root.language['member/dashboard/title'],
            }
        }
    },
    methods: {
        clearSignal(){
            this.$store.state.MemberProfileModules.updateInfoSignal.updateProfileSignal = '';
            this.$store.state.MemberProfileModules.updateInfoSignal.updatePasswordSignal = '';
        }
    },
    mounted(){
        this.clearSignal();
    }
}
</script>