<template>
	<div class="container">
		<form class="sign-in-form" >
			<div class="card">
				<div class="card-body" id="adminLoginContentDiv">
					<form :class="($v.$anyError)? 'need validate was-validated' : 'need validation' " v-on:submit.prevent="onSubmit()" method="post">	
						<a class="brand text-center d-block m-b-20">
							<img v-bind:src="logo" alt="Logo" />
						</a>
						<h5 class="sign-in-heading text-center m-b-20">{{ wordTitle }}</h5>
						
						<div v-if="authMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
							{{ authMessage }}
						</div>			
									
						<div class="form-group">
							<label for="email" class="sr-only">{{ wordEmailAddress }}</label>
							<input type="email" @blur="$v.email.$touch()" id="email" class="form-control" v-model="email" :placeholder="wordEmailAddress" required="">
							<div v-if="!$v.email.required" :class="(!$v.email.required)? 'invalid-feedback': 'valid-feedback' ">
								{{ wordRequireEmail }}
							</div>
							<div v-if="!$v.email.email" :class="(!$v.email.email)? 'invalid-feedback': 'valid-feedback' ">
								{{ wordValidEmail }}
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="sr-only">{{ wordPassword }}</label>
							<input type="password" id="password" @blur="$v.password.$touch()" class="form-control" v-model="password" :placeholder="wordPassword" required="">
							<div v-if="!$v.password.required" :class="(!$v.password.required)? 'invalid-feedback' : 'valid-feedback'">{{ wordRequirePassword }}</div>
						</div>
						<button type="submit" class="btn btn-primary btn-rounded btn-floating btn-lg btn-block">{{ wordLogin }}</button>

					</form>	
				</div>
			</div>
		</form>
	</div>
</template>

<script>
	import axios from 'axios';
	import { required, email } from 'vuelidate/lib/validators';
	import Config from '@/js/config/app.js';
	import { mapState } from 'vuex';
    // import LoginModules from '@/js/stores/modules/member/login.js';

	export default{
		data (){
			return {		
				/* Label */
				wordTitle: this.$root.language['member/login/title'],
				wordEmailAddress: this.$root.language['member/login/field/email'],
				wordPassword: this.$root.language['member/login/field/password'],
				wordRememberMe: this.$root.language['member/login/remember-me'],
				wordLogin: this.$root.language['member/login/button/login'],
				
				/* Validation */
				wordRequireEmail: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['member/login/field/email']),
				wordValidEmail: this.$root.validateLanguage['field/validation/text/invalid'].replace('{field}', this.$root.language['member/login/field/email']),
				wordRequirePassword: this.$root.validateLanguage['field/validation/required'].replace('{field}', this.$root.language['member/login/field/password']),
				
				/* Params */
				logo: "http://www.authenticgoods.co/themes/quantum-pro/demos/assets/img/qt-logo@2x.png",
				email: '',
				password: '',	
			}
		},
		validations: {
			email: {
				required: required,
				email: email,
			},
			password: {
				required: required,
			}
		},
		methods: {
			onSubmit(){				
				const formData = {
					email: this.email,
					password: this.password,
					wsid: Config.getWSID(),
					vlanguage: this.$root.validateLanguage
				}
				//this.$store.dispatch('login', formData);
				this.$store.dispatch('LoginModules/login', formData, { root: true });
			},
			setTitle(){
				document.title = this.wordTitle;
			},
		},
		computed: {
			authMessage: function() {
				if(this.$store.state.LoginModules.authInfo.status != Config.generalStatus['success']){
				 	return this.$store.state.LoginModules.authInfo.message;
				}else{
					return '';
				}
			}
		},
		created(){
			this.setTitle();
		}
	};	
	
</script>